Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


fix(ci): handle Gosec SSA panic and relax Trivy exit-code
  .github/workflows/ci.yml
Due: none

fix(ci): restore strict Trivy exit-code after vulnerability analysis
  .github/workflows/ci.yml
Due: none

feat(security): add DAST scanning with ZAP and Nuclei
  .github/workflows/security.yml
  .github/zap-rules.tsv
Due: none

fix(security): add trivyignore for dismissed CVEs
  .github/trivy.ignore
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix(ci): re-enable observability-configs and improve documentation
  .github/workflows/ci.yml
  tests/python/conftest.py
Due: none

chore(ci): add archon workflows fork and rag ingest
  .github/workflows/archon-fork/archon-ci.yml
  .github/workflows/archon-fork/archon-claude-fix.yml
  .github/workflows/archon-fork/archon-claude-review.yml
  .github/workflows/archon-fork/archon-release-notes.yml
  .github/workflows/archon-rag-ingest.yml
Due: none

chore(ci): set claude whitelist to DIZ-admin
  .github/workflows/archon-fork/archon-claude-fix.yml
  .github/workflows/archon-fork/archon-claude-review.yml
Due: none

fix(ci): fix Fluent Bit config check for v3.0
  .github/workflows/ci.yml
Due: none

fix(ci): add requirements-docs.txt to docs-deploy triggers
  .github/workflows/docs-deploy.yml
Due: none

chore(ci): harden archon workflows (permissions/timeouts/secrets)
  .github/workflows/archon-fork/archon-ci.yml
  .github/workflows/archon-fork/archon-claude-fix.yml
  .github/workflows/archon-fork/archon-claude-review.yml
  .github/workflows/archon-fork/archon-release-notes.yml
  .github/workflows/archon-rag-ingest.yml
Due: none

fix(ci): handle unreachable servers in contract and load tests
  .github/workflows/ci.yml
  tests/contracts/auth.contract.test.ts
Due: ts-type-check

fix(ci): improve contract test error handling
  tests/contracts/auth.contract.test.ts
Due: ts-type-check

fix(ci): address CodeRabbit review comments
  .github/workflows/archon-fork/archon-ci.yml
  .github/workflows/archon-fork/archon-claude-fix.yml
  .github/workflows/archon-rag-ingest.yml
Due: none

feat(ci): add Docker Compose integration tests
  .github/workflows/ci.yml
  compose.test.yml
  scripts/integration-test.sh
  tests/integration/docker-compose-smoke.test.ts
  tests/integration/prometheus.test.yml
Due: ts-type-check

docs: add archon secrets placeholders and compose note
  README.md
  docs/guides/github-secrets-setup.md
  scripts/setup-github-secrets.sh
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(ci): correct auth env var and prometheus permissions
  compose.test.yml
Due: none

docs: add archon secrets placeholders and compose note (#137)
  README.md
  docs/guides/github-secrets-setup.md
  scripts/setup-github-secrets.sh
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(test): remove metrics test for auth service
  tests/integration/docker-compose-smoke.test.ts
  tests/integration/prometheus.test.yml
Due: ts-type-check

feat(ci): add Docker Compose integration tests (#136)
  .github/workflows/ci.yml
  compose.test.yml
  scripts/integration-test.sh
  tests/integration/docker-compose-smoke.test.ts
  tests/integration/prometheus.test.yml
Due: ts-type-check

fix: resolve linter warnings and improve code quality
  .pre-commit/config-full.yaml
  .pre-commit/config-security.yaml
  eslint.config.js
  scripts/core/deployment/deploy-monitoring-system.sh
  scripts/core/deployment/quick-start.sh
  tests/contracts/auth.contract.test.ts
Due: ts-type-check

fix(scripts): fix URL parsing bug in deploy-monitoring-system.sh
  scripts/core/deployment/deploy-monitoring-system.sh
Due: none

fix: resolve linter warnings and improve code quality (#138)
  .pre-commit/config-full.yaml
  .pre-commit/config-security.yaml
  eslint.config.js
  scripts/core/deployment/deploy-monitoring-system.sh
  scripts/core/deployment/quick-start.sh
  tests/contracts/auth.contract.test.ts
Due: ts-type-check

feat(ci): add GitHub Models AI function tests
  .github/workflows/ai-tests.yml
  .github/workflows/ci.yml
  tests/ai/__init__.py
  tests/ai/conftest.py
  tests/ai/test_github_models.py
Due: none

feat(ci): add AI-powered documentation quality validator
  .github/workflows/docs-ai-check.yml
  scripts/docs/ai-content-validator.py
Due: none

fix: resolve CodeQL uninitialized variable warning
  tests/ai/test_github_models.py
Due: none

fix: make AI tests non-blocking due to rate limits
  .github/workflows/ai-tests.yml
Due: none

feat: add rate limiting to AI tests (15 RPM compliance)
  .github/workflows/ai-tests.yml
  tests/ai/test_github_models.py
Due: none

refactor: apply CodeRabbit suggestions for AI tests
  .github/workflows/ai-tests.yml
  requirements-dev.txt
  tests/ai/test_github_models.py
Due: no-emoji-in-files

fix: reduce AI tests to single test with exponential backoff
  tests/ai/test_github_models.py
Due: none

fix: resolve pytest-asyncio dependency conflict
  requirements-dev.txt
Due: no-emoji-in-files

revert: remove AI testing due to rate limits
  .github/workflows/ai-tests.yml
  .github/workflows/ci.yml
  requirements-dev.txt
  scripts/integration-test.sh
  tests/ai/__init__.py
  tests/ai/conftest.py
  tests/ai/test_github_models.py
Due: no-emoji-in-files

feat(ci): add GitHub Models AI function tests (#139)
  requirements-dev.txt
  scripts/integration-test.sh
Due: no-emoji-in-files

fix(security): address CodeRabbit review feedback
  .github/workflows/docs-ai-check.yml
  scripts/docs/ai-content-validator.py
Due: none

fix(lint): rename ai-content-validator.py to ai_content_validator.py
  .github/workflows/docs-ai-check.yml
  scripts/docs/ai_content_validator.py
Due: none

feat(docs): add llms.txt generation for AI/RAG integration
  .claude/rag-docs-llm.md
  .github/workflows/docs-deploy.yml
  llm-docs-builder.yml
Due: markdownlint-cli2, no-emoji-in-files

fix(ci): address CodeRabbit review feedback for AI docs validator
  .github/workflows/docs-ai-check.yml
  scripts/docs/ai_content_validator.py
Due: none

fix(ci): address CodeRabbit review for docs-deploy workflow
  .github/workflows/docs-deploy.yml
Due: none

feat(ci): add AI-powered documentation quality validator (#140)
  .claude/rag-docs-llm.md
  .github/workflows/docs-ai-check.yml
  .github/workflows/docs-deploy.yml
  llm-docs-builder.yml
  scripts/docs/ai_content_validator.py
Due: markdownlint-cli2, no-emoji-in-files

feat(rag): add Anthropic Claude docs to Archon ingest sources
  .github/workflows/archon-rag-ingest.yml
Due: none
