Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ts-type-check:
  name: 'TypeScript: type check'
  entry: npm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docker-compose-check:
  name: 'Docker Compose: configuration validation'
  entry: docker compose config -q
  language: system
  pass_filenames: false

gofmt:
  name: 'Go: code formatting'
  entry: gofmt
  language: system
  args:
  - -w

status-snippet-check:
  name: 'Docs: validate status snippets'
  entry: python3 scripts/docs/update_status_snippet.py --check
  language: system
  pass_filenames: false

markdownlint-cli2:
  name: 'Docs: markdownlint'
  entry: npx markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.19.1

validate-docs-metadata:
  name: 'Docs: validate metadata'
  entry: python3 scripts/docs/validate_metadata.py
  language: system
  pass_filenames: false

forbid-numbered-copies:
  name: 'Docs: forbid numbered filename copies'
  entry: bash
  language: system
  args:
  - -c
  - "status=0\nfor f in \"$@\"; do\n  base=\"${f##*/}\"\n  if [[ \"$base\" =~ [[:space:]][0-9]+(\\.|$) ]]; then\n    echo \"Duplicate-style filename detected: $f\"\n    status=1\n  fi\ndone\nexit $status\n"

no-emoji-in-files:
  name: 'Docs: validate no emoji'
  entry: python3 scripts/validate-no-emoji.py
  language: system

test: allow skip when requests missing
  tests/python/test_webhook_handler.py
Due: none

ci: bandit nosec fixes and rag exporter tests
  scripts/docs/update_status_snippet_v2.py
  scripts/maintenance/check_duplicate_basenames.py
  tests/python/test_rag_exporter.py
Due: none

test: add webhook negative paths and script smokes
  requirements-dev.txt
  tests/python/test_rag_exporter.py
  tests/python/test_scripts_smoke.py
  tests/python/test_webhook_handler_negatives.py
  tests/python/test_webhook_receiver_signatures.py
Due: no-emoji-in-files

chore: drop webhook_receiver shim and align tests
  conf/webhook-receiver/webhook_handler.py
  conf/webhook_receiver/__init__.py
  conf/webhook_receiver/py.typed
  conf/webhook_receiver/webhook_handler.py
  docs/development/testing-guide.md
  mypy.ini
  tests/python/test_webhook_handler.py
  tests/python/test_webhook_receiver.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: silence ruff async/name warnings
  conf/litellm/custom_providers/publicai.py
  conf/webhook-receiver/models.py
  conf/webhook-receiver/webhook-receiver.py
  conf/webhook-receiver/webhook_handler.py
  scripts/add-missing-frontmatter.py
  scripts/docs/audit-documentation.py
  scripts/docs/cleanup-documentation.py
  scripts/docs/fix-broken-links.py
  scripts/docs/validate-documentation.py
  scripts/fix-deprecated-metadata.py
  scripts/functions/ragflow_pipe_improved.py
  scripts/remove-all-emoji.py
  scripts/validate-no-emoji.py
  tests/python/test_webhook_client.py
Due: none

chore: fix typing and lint warnings in scripts
  scripts/docs/sync_versions.py
  scripts/functions/assistant_api_wrapper.py
  scripts/functions/openai_assistant_function.py
  scripts/maintenance/check_duplicate_basenames.py
Due: none

chore: fix ruff N806 in webhook handler tests
  tests/python/test_webhook_handler.py
Due: none

docs: elevate documentation quality standards
  docs/quality/code-standards.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

test: expand coverage and lower cov threshold
  .github/workflows/ci.yml
  conf/rag_exporter.py
  requirements-dev.txt
  scripts/functions/assistant_api_wrapper.py
  scripts/lib/logger.py
  tests/python/test_docs_scripts_misc.py
  tests/python/test_ollama_exporter_app.py
  tests/python/test_rag_exporter.py
  tests/python/test_scripts_smoke.py
  tests/python/test_services.py
  tests/python/test_webhook_client_example.py
  tests/python/test_webhook_handler.py
  tests/python/test_webhook_handler_negatives.py
  tests/python/test_webhook_receiver.py
  tests/python/test_webhook_receiver_signatures.py
Due: no-emoji-in-files

fix: correct doc_version metadata
  docs/quality/code-standards.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

test: tighten playwright typing and timer usage
  tests/e2e/openwebui-rag.spec.ts
  tests/e2e/test-aktennotiz-upload.spec.ts
  tests/setup.ts
Due: ts-type-check

chore: tune node-exporter scrape and filter cadvisor smaps noise
  conf/fluent-bit/fluent-bit.conf
  conf/prometheus/prometheus.yml
Due: none

chore: use redis password secret for redis-exporter
  compose.yml
Due: docker-compose-check

security: remove hardcoded redis password from docs
  conf/litellm/config.yaml
  conf/redis/users.acl
  docs/architecture/architecture.md
  docs/archive/audits/comprehensive-project-audit-2025-10-17.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-update-plan-2025-11-24.md
  docs/de/operations/database/redis-monitoring-grafana.md
  docs/de/operations/database/redis-operations-guide.md
  docs/de/operations/diagnostics/erni-ki-diagnostic-methodology.md
  docs/de/operations/maintenance/service-restart-procedures.md
  docs/de/operations/monitoring/monitoring-guide.md
  docs/de/operations/monitoring/prometheus-alerts-guide.md
  docs/de/operations/monitoring/searxng-redis-issue-analysis.md
  docs/de/operations/troubleshooting/troubleshooting-guide.md
  docs/operations/ai/litellm-redis-caching.md
  docs/operations/database/redis-monitoring-grafana.md
  docs/operations/database/redis-operations-guide.md
  docs/operations/diagnostics/erni-ki-diagnostic-methodology.md
  docs/operations/diagnostics/index.md
  docs/operations/maintenance/service-restart-procedures.md
  docs/operations/monitoring/monitoring-guide.md
  docs/operations/monitoring/prometheus-alerts-guide.md
  docs/operations/monitoring/searxng-redis-issue-analysis.md
  docs/operations/troubleshooting/troubleshooting-guide.md
  docs/reports/comprehensive-audit-2025-11-28.md
  docs/reports/final-verification-2025-11-28.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: render redis config from secret
  compose.yml
Due: docker-compose-check

fix: make postgres exporter entrypoint posix
  scripts/infrastructure/postgres-exporter-entrypoint.sh
Due: none

chore: silence redis password compose warning
  compose.yml
Due: docker-compose-check

chore: update uptime kuma monitors and docs
  DOCUMENTATION_AUDIT_REPORT.md
  LOG_AUDIT_REPORT.md
  docs/operations/core/status-page.md
  package-lock.json
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: read redis secret correctly
  compose.yml
  package.json
  scripts/entrypoints/openwebui.sh
Due: docker-compose-check

chore: apply configuration fixes
  .augment/env/setup.sh
  .vscode/LINTERS.md
  LOG_AUDIT_REPORT.md
  automation/amtool-silence-plan.md
  compose.yml
  launch_audit_plan.md
  mypy.ini
  pyproject.toml
  scripts/entrypoints/openwebui.sh
Due: docker-compose-check, markdownlint-cli2, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$

