Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, goimports, status-snippet-check, validate-docs-metadata

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  validate-docs-metadata: any of: ^docs/.*\.md$

ci: install mkdocs deps in docs build job
  requirements-dev.txt
Due: none

ci: install mkdocs-awesome-pages plugin
  requirements-dev.txt
Due: none

docs: fix critical documentation inconsistencies (SPRINT 1)
  README.md
  docs/architecture/architecture.md
  docs/architecture/nginx-configuration.md
  docs/architecture/service-inventory.md
  docs/architecture/services-overview.md
  docs/de/overview.md
  docs/de/reference/status-snippet.md
  docs/index.md
  docs/overview.md
  docs/reference/status-snippet.md
  docs/reference/status.yml
Due: status-snippet-check, validate-docs-metadata

docs: add version validation script and fix duplicates (SPRINT 2)
  docs/overview.md
  scripts/docs/sync_versions.py
Due: status-snippet-check, validate-docs-metadata

chore: ci tag guardrails and de docs updates
  .github/workflows/ci.yml
  .github/workflows/deploy-environments.yml
  .github/workflows/release.yml
  docs/de/GLOSSARY.md
  docs/de/VERSION.md
  docs/de/operations/monitoring-guide.md
  docs/de/operations/monitoring.md
  docs/de/operations/monitoring/monitoring-guide.md
  docs/de/reference/README.md
  docs/de/reference/api-reference.md
  docs/de/reference/documentation-refactoring-plan-2025-11-24.md
  docs/de/reference/documentation-update-plan-2025-11-24.md
  docs/de/reference/emoji-style-guide.md
  docs/de/reference/language-policy.md
  docs/de/reference/pre-commit-hooks.md
  docs/de/reference/style-guide.md
  docs/reference/pre-commit-hooks.md
  requirements-dev.txt
  scripts/utilities/check-docker-tags.sh
  scripts/utilities/git-clean-safe.sh
  tests/python/test_docs_scripts_additional.py
  tests/unit/docker-tags.test.ts
  tests/unit/language-check.test.ts
Due: ts-type-check, validate-docs-metadata

docs: add DE translations and EN stubs; cleanup config
  docs/de/api/README.md
  docs/de/architecture/README.md
  docs/de/architecture/service-inventory.md
  docs/de/news/2025-11-erni-ki-status-page-launch.md
  docs/de/news/index.md
  docs/de/operations/README.md
  docs/de/reference/code-audit-summary-2025-11-24.md
  docs/de/reference/documentation-refactoring-plan-v2-2025-11-24.md
  docs/de/reference/documentation-refactoring-plan.md
  docs/de/reference/pre-commit-hooks.md
  docs/en/VERSION.md
  docs/en/architecture/README.md
  docs/en/operations/README.md
  docs/en/overview.md
  docs/en/reference/documentation-refactoring-plan-2025-11-24.md
  docs/en/reference/status-snippet.md
  tsconfig.json
Due: validate-docs-metadata

docs: add mkdocs minify dependency and audit report
  docs/archive/audits/comprehensive-documentation-audit-2025-11-25.md
  requirements-dev.txt
  tests/unit/language-check.test.ts
Due: ts-type-check, validate-docs-metadata

docs: remove sitemap artifacts and fix internal links
  .gitignore
  docs/academy/howto/create-jira-ticket/sitemap.xml
  docs/academy/openwebui-basics/sitemap.xml
  docs/academy/prompting-101/sitemap.xml
  docs/academy/sitemap.xml
  docs/architecture/service-inventory.md
  docs/de/academy/howto/create-jira-ticket/sitemap.xml
  docs/de/academy/openwebui-basics/sitemap.xml
  docs/de/academy/prompting-101/sitemap.xml
  docs/de/academy/sitemap.xml
  docs/de/architecture/service-inventory.md
  docs/de/getting-started/installation/sitemap.xml
  docs/de/getting-started/sitemap.xml
  docs/de/getting-started/user-guide/sitemap.xml
  docs/de/overview/sitemap.xml
  docs/de/sitemap.xml
  docs/en/academy/howto/create-jira-ticket/sitemap.xml
  docs/en/academy/openwebui-basics/sitemap.xml
  docs/en/academy/prompting-101/sitemap.xml
  docs/en/academy/sitemap.xml
  docs/en/getting-started/installation/sitemap.xml
  docs/en/getting-started/sitemap.xml
  docs/en/getting-started/user-guide/sitemap.xml
  docs/en/overview.md
  docs/en/overview/sitemap.xml
  docs/en/sitemap.xml
  docs/getting-started/installation/sitemap.xml
  docs/getting-started/sitemap.xml
  docs/getting-started/user-guide/sitemap.xml
  docs/overview/sitemap.xml
  docs/sitemap.xml
Due: validate-docs-metadata

docs: add missing pages to mkdocs nav
  mkdocs.yml
Due: none

docs: archive dated ref plans and update nav
  docs/archive/migrations/documentation-refactoring-plans/code-audit-summary-2025-11-24.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-2025-11-24.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-v2-2025-11-24.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-update-plan-2025-11-24.md
  docs/de/archive/migrations/documentation-refactoring-plans/code-audit-summary-2025-11-24.md
  docs/de/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-2025-11-24.md
  docs/de/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-v2-2025-11-24.md
  docs/de/archive/migrations/documentation-refactoring-plans/documentation-update-plan-2025-11-24.md
  docs/en/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-2025-11-24.md
  mkdocs.yml
Due: validate-docs-metadata

docs: remove all emoji and enforce no-emoji policy
  docs/architecture/services-overview.md
Due: validate-docs-metadata

docs: add frontmatter to status snippets (ru/de)
  docs/de/reference/status-snippet.md
  docs/reference/status-snippet.md
Due: status-snippet-check, validate-docs-metadata

docs: fix services overview frontmatter and formatting
  docs/architecture/services-overview.md
Due: validate-docs-metadata

ci: align node to 22.14 and pin go toolchain
  .github/workflows/ci.yml
Due: none

docs: clarify gitignored configs in conf/README
  conf/README.md
Due: none

docs: remove duplicate Glossary nav entry
  docs/reference/documentation-maintenance-strategy.md
  mkdocs.yml
Due: validate-docs-metadata

chore: pin redis image and fix audit links/metadata
  compose.yml
  docs/architecture/service-inventory.md
  docs/archive/audits/configuration-audit-report-2025-11-25.md
  docs/archive/audits/documentation-refactoring-audit-2025-11-24.md
  docs/archive/migrations/documentation-refactoring-plans/code-audit-summary-2025-11-24.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-v2-2025-11-24.md
  docs/de/architecture/service-inventory.md
Due: docker-compose-check, validate-docs-metadata

docs: add non-root containers transition plan
  docs/reference/non-root-containers-plan.md
Due: validate-docs-metadata

ci: deploy docs from main and develop
  .github/workflows/docs-deploy.yml
Due: none
