Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, goimports, status-snippet-check, validate-docs-metadata

ts-type-check:
  name: 'TypeScript: type check'
  entry: npm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docker-compose-check:
  name: 'Docker Compose: configuration validation'
  entry: docker compose config -q
  language: system
  pass_filenames: false

gofmt:
  name: 'Go: code formatting'
  entry: gofmt
  language: system
  args:
  - -w

goimports:
  name: 'Go: organize imports'
  entry: /Users/kostas/go/bin/goimports
  language: system
  args:
  - -w

status-snippet-check:
  name: 'Docs: validate status snippets'
  entry: python3 scripts/docs/update_status_snippet.py --check
  language: system
  pass_filenames: false

validate-docs-metadata:
  name: 'Docs: validate metadata'
  entry: python3 scripts/docs/validate_metadata.py
  language: system
  pass_filenames: false

docs: update nav entries
  mkdocs.yml
Due: none

docs: neutralize archive links and fix mkdocs strict
  docs/archive/audits/code-audit-2025-11-24.md
  docs/archive/audits/comprehensive-documentation-audit-2025-11-25.md
  docs/archive/migrations/documentation-refactoring-plans/code-audit-summary-2025-11-24.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-2025-11-24.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-v2-2025-11-24.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-update-plan-2025-11-24.md
  docs/archive/news/2025.md
  docs/de/archive/migrations/documentation-refactoring-plans/code-audit-summary-2025-11-24.md
  docs/de/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-2025-11-24.md
  docs/de/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-v2-2025-11-24.md
  docs/de/archive/migrations/documentation-refactoring-plans/documentation-update-plan-2025-11-24.md
  docs/de/news/2025-11-erni-ki-status-page-launch.md
  docs/de/operations/admin-guide.md
  docs/de/operations/monitoring-guide.md
  docs/de/operations/monitoring/README.md
  docs/de/operations/runbooks-summary.md
  docs/de/operations/troubleshooting/README.md
  docs/en/academy/openwebui-basics.md
  docs/news/index.md
  docs/operations/ai/litellm-redis-caching.md
  docs/operations/database/database-troubleshooting.md
  docs/reference/NO-EMOJI-POLICY.md
  mkdocs.yml
Due: validate-docs-metadata

chore: format audit doc for prettier
  docs/archive/audits/comprehensive-documentation-audit-2025-11-25.md
Due: validate-docs-metadata

ci: tighten permissions for update-status workflow
  .github/workflows/ci.yml
Due: none

ci: tighten permissions for update-status workflow
  .github/workflows/deploy-environments.yml
  .github/workflows/update-status.yml
Due: none

docs: add comprehensive service version audit reports
  compose.yml
  docs/archive/audits/service-version-audit-2025-11-25.md
  docs/archive/audits/service-version-matrix-2025-11-25.md
Due: docker-compose-check, validate-docs-metadata

docs: comprehensive documentation audit 2025-11-27
  compose.yml
  docs/de/getting-started/README.md
  docs/de/getting-started/dnsmasq-setup-instructions.md
  docs/de/getting-started/external-access-setup.md
  docs/de/getting-started/local-network-dns-setup.md
  docs/de/getting-started/port-forwarding-setup.md
  docs/reference/NO-EMOJI-POLICY.md
  docs/reports/audit-report-2025-11-27.txt
  docs/reports/comprehensive-documentation-audit-2025-11-27.md
  docs/reports/comprehensive-master-audit-2025-11-27.md
  docs/reports/index.md
  scripts/docs/audit-documentation.py
Due: docker-compose-check, validate-docs-metadata

docs: rename README to index in core sections
  docs/api/index.md
  docs/architecture/index.md
  docs/data/index.md
  docs/getting-started/index.md
  docs/operations/automation/index.md
  docs/operations/core/index.md
  docs/operations/database/index.md
  docs/operations/diagnostics/index.md
  docs/operations/index.md
  docs/operations/maintenance/index.md
  docs/operations/troubleshooting/index.md
Due: validate-docs-metadata

feat(docs): add German translations and update structure
  docs/de/news/2025-11-erni-ki-status-page-launch.md
  docs/de/operations/automation/README.md
  docs/de/operations/diagnostics/erni-ki-diagnostic-methodology.md
  docs/de/operations/maintenance/README.md
Due: validate-docs-metadata

fix: docs validation scripts (links, audit metadata)
  scripts/docs/validate_metadata.py
  scripts/docs/visuals_and_links_check.py
Due: none

docs: fix overview links after README→index rename
  docs/overview.md
Due: status-snippet-check, validate-docs-metadata

feat(docs): translate Academy KI documentation to German
  docs/de/academy/howto/create-jira-ticket.md
  docs/de/academy/howto/summarize-meeting-notes.md
  docs/de/academy/howto/write-customer-email.md
  docs/de/academy/index.md
  docs/de/academy/news/2025-01-release-x.md
  docs/de/academy/news/index.md
  docs/de/academy/openwebui-basics.md
  docs/de/academy/prompting-101.md
Due: validate-docs-metadata

feat(docs): add index.md files and architecture diagrams
  docs/architecture/diagrams/architecture-overview.md
  docs/architecture/diagrams/data-flow.md
  docs/architecture/diagrams/deployment-diagram.md
  docs/architecture/diagrams/index.md
  docs/architecture/diagrams/network-topology.md
  docs/archive/audits/index.md
  docs/archive/config-backup/index.md
  docs/archive/howto/index.md
  docs/archive/migrations/documentation-refactoring-plans/index.md
  docs/archive/migrations/index.md
  docs/archive/news/index.md
  docs/archive/training/index.md
  docs/de/getting-started/index.md
  docs/de/operations/automation/index.md
  docs/de/operations/core/index.md
  docs/de/operations/maintenance/index.md
  docs/de/system/index.md
  docs/en/getting-started/index.md
  docs/en/operations/core/index.md
  docs/en/reference/index.md
  docs/en/system/index.md
Due: validate-docs-metadata

fix(docs): correct Mermaid diagram syntax
  docs/architecture/diagrams/architecture-overview.md
  docs/architecture/diagrams/data-flow.md
  docs/architecture/diagrams/deployment-diagram.md
  docs/architecture/diagrams/network-topology.md
Due: validate-docs-metadata

docs: update system status and improve documentation quality to 9.8/10
  docs/archive/audits/service-version-audit-2025-11-25.md
  docs/archive/audits/service-version-matrix-2025-11-25.md
  docs/reports/audit-report-2025-11-27.txt
  docs/reports/index.md
  docs/system/index.md
  docs/system/status.md
Due: validate-docs-metadata

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  validate-docs-metadata: any of: ^docs/.*\.md$
