Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


fix(docs): Phase 1 critical fixes - nav, emoji, tooling
  docs/examples/webhook-examples.sh
  docs/operations/monitoring/searxng-redis-issue-analysis.md
  docs/ru/examples/webhook-examples.sh
  docs/troubleshooting/common-issues.md
  mkdocs.yml
  scripts/language-check.cjs
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: update README with accurate service versions and i18n paths
  README.md
Due: status-snippet-check, markdownlint-cli2, no-emoji-in-files

fix(docs): override site_url for GitHub Pages i18n language switcher
  .github/workflows/docs-deploy.yml
Due: none

fix(docs): also update alternate links for GitHub Pages base path
  .github/workflows/docs-deploy.yml
Due: none

fix: remove conflicting root docs files for mkdocs-static-i18n
  docs/index.md
  docs/news/index.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: update broken links after merge file deletions
  docs/en/reports/index.md
  docs/ru/development/index.md
  docs/ru/guides/index.md
  docs/ru/operations/security-action-plan.md
  docs/ru/system/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: remove all broken links to deleted erni-ki-comprehensive-analysis report
  docs/en/archive/security/secrets-audit-2025-11-27.md
  docs/en/operations/security-action-plan.md
  docs/ru/archive/reports/index.md
  docs/ru/archive/security/secrets-audit-2025-11-27.md
  docs/ru/operations/security-action-plan.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: address CodeRabbit review feedback for PR #163
  .github/workflows/archon-ci.yml
  .lychee.toml
  cleanup_remaining.sh
  devops-rules.md
  docs/ru/archive/reports/index.md
  mkdocs.yml
  scripts/docs/docs_metrics.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

refactor(docs): optimize navigation structure using Diataxis framework
  llm-docs-builder.yml
  mkdocs-academy.yml
  mkdocs.yml
  scripts/maintenance/extract_todos.py
Due: none

fix: pre-commit compliance fixes
  .secrets.baseline
  README.md
  docs/de/reference/status-snippet.md
  docs/en/archive/security/secrets-audit-2025-11-27.md
  docs/reference/status-snippet.md
  docs/reference/status.yml
  docs/ru/academy/resources/glossar-holzbau.md
  docs/ru/reference/api-reference.md
  docs/ru/reference/mcpo-integration-guide.md
  language-policy.config.json
  patches/litellm/proxy_server.py
  tests/setup.ts
Due: ts-type-check, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: add pending documentation files
  docs/en/archive/operations/legacy-monitoring-migration-2025-11.md
  docs/en/news/2025-11-erni-ki-status-page-launch.md
  docs/reports/todo-analysis.md
  docs/ru/development/PHASE1-QUICK-WINS.md
  docs/ru/development/PRE-COMMIT-INDEX.md
  docs/ru/development/PRE-COMMIT-REFACTORING-PLAN.md
  docs/ru/development/PROJECT-RULES-SUMMARY.md
  docs/ru/development/REFACTORING-SUMMARY.md
  docs/ru/development/RULES-FLOWCHART.md
  docs/ru/development/bun-migration.md
  docs/ru/development/pre-commit-guide.md
  docs/ru/development/workflows.md
  docs/ru/guides/SECRETS-QUICK-REFERENCE.md
  docs/ru/guides/github-secrets-setup.md
  docs/ru/guides/yaml-style-guide.md
  docs/ru/reports/configuration-consistency-audit.md
  docs/ru/reports/index.md
  docs/ru/reports/todo-analysis.md
  docs/ru/reports/todo-conversion-plan.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: broken links and security script symlink handling
  docs/ru/reports/index.md
  scripts/security/check-secret-permissions.sh
  scripts/security/fix-secret-permissions.sh
  tests/setup.ts
Due: ts-type-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(academy): remove broken links and missing nav entries
  docs/en/academy/advanced/api-integration.md
  docs/en/academy/advanced/custom-workflows.md
  docs/en/academy/by-industry/construction/bautagebuch-erstellen.md
  docs/en/academy/by-industry/construction/maengelliste.md
  docs/en/academy/by-industry/holzbau/angebot-erstellen.md
  docs/en/academy/by-industry/holzbau/bautagebuch-erstellen.md
  docs/en/academy/by-role/developers/code-review-with-ai.md
  docs/en/academy/by-role/developers/debug-code.md
  docs/en/academy/by-role/developers/generate-documentation.md
  docs/en/academy/by-role/developers/write-unit-tests.md
  docs/en/academy/by-role/general-users/create-jira-ticket.md
  docs/en/academy/by-role/general-users/prepare-presentation.md
  docs/en/academy/by-role/general-users/summarize-meeting-notes.md
  docs/en/academy/by-role/general-users/translate-document.md
  docs/en/academy/by-role/general-users/write-professional-email.md
  docs/en/academy/by-role/managers/analyze-metrics.md
  docs/en/academy/by-role/managers/create-project-report.md
  docs/en/academy/by-role/support/create-knowledge-base-article.md
  docs/en/academy/by-role/support/troubleshoot-user-issue.md
  docs/en/academy/fundamentals/context-management.md
  docs/en/academy/fundamentals/effective-prompts.md
  docs/en/academy/fundamentals/model-selection-guide.md
  docs/en/academy/fundamentals/prompting-fundamentals.md
  docs/en/academy/fundamentals/rag-basics.md
  docs/en/academy/getting-started/faq.md
  docs/en/academy/getting-started/first-steps.md
  docs/en/academy/getting-started/model-comparison.md
  docs/en/academy/getting-started/safety-and-ethics.md
  docs/en/academy/getting-started/what-is-ai.md
  docs/en/academy/resources/glossar-holzbau.md
  docs/en/academy/resources/glossar.md
  docs/en/academy/resources/sia-normen-uebersicht.md
  mkdocs-academy.yml
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

style: format academy docs with prettier
  docs/en/academy/advanced/api-integration.md
  docs/en/academy/advanced/custom-workflows.md
  docs/en/academy/by-industry/construction/bautagebuch-erstellen.md
  docs/en/academy/by-industry/construction/maengelliste.md
  docs/en/academy/by-industry/holzbau/angebot-erstellen.md
  docs/en/academy/by-industry/holzbau/bautagebuch-erstellen.md
  docs/en/academy/by-role/developers/code-review-with-ai.md
  docs/en/academy/by-role/developers/debug-code.md
  docs/en/academy/by-role/developers/generate-documentation.md
  docs/en/academy/by-role/developers/write-unit-tests.md
  docs/en/academy/by-role/general-users/create-jira-ticket.md
  docs/en/academy/by-role/general-users/prepare-presentation.md
  docs/en/academy/by-role/general-users/summarize-meeting-notes.md
  docs/en/academy/by-role/general-users/translate-document.md
  docs/en/academy/by-role/general-users/write-professional-email.md
  docs/en/academy/by-role/managers/analyze-metrics.md
  docs/en/academy/by-role/managers/create-project-report.md
  docs/en/academy/by-role/support/create-knowledge-base-article.md
  docs/en/academy/by-role/support/troubleshoot-user-issue.md
  docs/en/academy/fundamentals/context-management.md
  docs/en/academy/fundamentals/effective-prompts.md
  docs/en/academy/fundamentals/model-selection-guide.md
  docs/en/academy/fundamentals/prompting-fundamentals.md
  docs/en/academy/fundamentals/rag-basics.md
  docs/en/academy/getting-started/faq.md
  docs/en/academy/getting-started/first-steps.md
  docs/en/academy/getting-started/model-comparison.md
  docs/en/academy/getting-started/safety-and-ethics.md
  docs/en/academy/getting-started/what-is-ai.md
  docs/en/academy/resources/glossar-holzbau.md
  docs/en/academy/resources/glossar.md
  docs/en/academy/resources/sia-normen-uebersicht.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

feat: add RagFlow adapter for external document processing
  compose.yml
  services/ragflow-adapter/Dockerfile
  services/ragflow-adapter/main.py
Due: docker-compose-check

fix: resolve pre-commit hook failures
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  docs/archive/audits/README.md
  docs/archive/diagnostics/README.md
  docs/archive/incidents/README.md
  docs/data/README.md
  tests/setup.ts
Due: ts-type-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(ragflow-adapter): security and performance improvements
  docs/archive/diagnostics/README.md
  docs/data/README.md
  scripts/docs/validate_metadata.py
  services/ragflow-adapter/main.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(docs): remove conflicting README.md files for i18n plugin
  docs/archive/audits/README.md
  docs/archive/diagnostics/README.md
  docs/archive/incidents/README.md
  docs/data/README.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

feat(compose): add security hardening and documentation
  compose.yml
Due: docker-compose-check

chore(scripts): remove 9 orphan/legacy scripts
  cleanup_remaining.sh
  docs/en/reference/script-catalog.md
  migrate_archive.sh
  migrate_deep_files.sh
  migrate_ru_files.sh
  migrate_to_i18n.sh
  resolve_conflicts.sh
  scripts/entrypoints/auth.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(security): code audit remediation - secret validation and type safety
  auth/main.go
  auth/main_test.go
  conf/litellm/custom_providers/publicai.py
  mypy.ini
  scripts/entrypoints/searxng.sh
  tests/e2e/openwebui-rag.spec.ts
Due: ts-type-check, gofmt

chore(ci): align lint/mypy and docs checks
  docs/archive/audits/README.md
  docs/archive/diagnostics/README.md
  docs/archive/incidents/README.md
  docs/data/README.md
  docs/en/reference/script-catalog.md
  eslint.config.js
  mypy.ini
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: format archive readmes
  docs/archive/audits/README.md
  docs/archive/diagnostics/README.md
  docs/archive/incidents/README.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: fix docs build and env templates
  docs/archive/audits/README.md
  docs/archive/diagnostics/README.md
  docs/archive/incidents/README.md
  docs/data/README.md
  env/ragflow-adapter.example
  scripts/docs/check_archive_readmes.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: harden trivy scan skips
  .github/workflows/ci.yml
Due: none

chore: add contributor guide and tighten CI
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  docs/de/reference/status-snippet.md
  docs/reference/status-snippet.md
  docs/reference/status.yml
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: pin trivy and tighten fs scan
  .github/workflows/ci.yml
Due: none

ci: fix trivy inputs
  .github/workflows/ci.yml
Due: none

ci: pin trivy version tag
  .github/workflows/ci.yml
Due: none

chore: enable docker mcp gateway
  .mcp.json
  scripts/language-check.cjs
Due: none

chore: format prettier fixes
  .mcp.json
  scripts/language-check.cjs
Due: none

ci: ensure ragflow env stub
  .github/workflows/ci.yml
Due: none

ci: make trivy non-blocking
  .github/workflows/ci.yml
Due: none

ci: align trivy image scan version and tolerance
  .github/workflows/ci.yml
Due: none

ci: skip trivy version check
  .github/workflows/ci.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/security.yml
Due: none
