Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


fix: address CodeRabbit nitpicks and actionable comments
  .github/workflows/security.yml
  .gitignore
  compose/ai.yml
  compose/monitoring.yml
Due: none

fix(security): fix SARIF upload for code scanning
  .github/workflows/security.yml
Due: none

fix(security): upload SARIF files individually with unique categories
  .github/workflows/security.yml
Due: none

docs: add docstrings to improve coverage
  conf/rag_exporter.py
  conf/webhook-receiver/webhook-receiver.py
Due: none

fix: secrets injection and infrastructure improvements (#181)
  .github/workflows/security.yml
  compose.yml
  compose/ai.yml
  compose/monitoring.yml
  conf/rag_exporter.py
  conf/webhook-receiver/webhook-receiver.py
  scripts/entrypoints/openwebui.sh
  scripts/entrypoints/ragflow-adapter.sh
  scripts/entrypoints/webhook-receiver.sh
  services/ragflow-adapter/main.py
Due: docker-compose-check

fix: production readiness audit and infrastructure updates
  .gitignore
  compose.yml
  compose/ai.yml
  conf/prometheus/alert_rules.yml
  conf/prometheus/alerts.yml
  docs/ru/archive/audits/production-readiness-audit-2025-12-16.md
  docs/ru/system/index.md
  docs/ru/system/status.md
Due: docker-compose-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: address PR review comments
  compose.yml
  compose/ai.yml
  conf/prometheus/alerts.yml
  docs/ru/archive/audits/production-readiness-audit-2025-12-16.md
Due: docker-compose-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: address remaining PR review comments
  docs/ru/archive/audits/production-readiness-audit-2025-12-16.md
  scripts/entrypoints/ragflow-adapter.sh
  scripts/entrypoints/searxng.sh
  scripts/entrypoints/webhook-receiver.sh
  secrets/ragflow_api_key.txt.example
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: add VRAM validation comment for RTX 5000 config
  compose.yml
Due: docker-compose-check

feat: add shared secrets library for Docker entrypoints
  .gitignore
  scripts/lib/secrets.sh
Due: none

refactor: config consolidation and modular alert rules
  .gitignore
  compose.yml
  conf/prometheus/alert_rules.yml
  conf/prometheus/alerts.yml
  conf/prometheus/prometheus.yml
  conf/prometheus/prometheus.yml.example
  conf/prometheus/rules/10-infrastructure.yml
  conf/prometheus/rules/20-databases.yml
  conf/prometheus/rules/30-ai-services.yml
  conf/prometheus/rules/40-logging.yml
  conf/prometheus/rules/50-gpu.yml
  conf/prometheus/rules/60-sla.yml
  conf/prometheus/rules/README.md
  conf/webhook-receiver/entrypoint.sh
  scripts/entrypoints/alertmanager.sh
  scripts/entrypoints/cloudflared-with-secret.sh
  scripts/entrypoints/litellm.sh
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/openwebui.sh
  scripts/entrypoints/ragflow-adapter.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/entrypoints/searxng.sh
  scripts/entrypoints/watchtower.sh
  scripts/entrypoints/webhook-receiver.sh
Due: docker-compose-check, markdownlint-cli2, no-emoji-in-files

Config refactoring and infrastructure improvements (#182)
  .github/workflows/security.yml
  .gitignore
  compose.yml
  compose/ai.yml
  compose/monitoring.yml
  conf/prometheus/alert_rules.yml
  conf/prometheus/alerts.yml
  conf/prometheus/prometheus.yml
  conf/prometheus/prometheus.yml.example
  conf/prometheus/rules/10-infrastructure.yml
  conf/prometheus/rules/20-databases.yml
  conf/prometheus/rules/30-ai-services.yml
  conf/prometheus/rules/40-logging.yml
  conf/prometheus/rules/50-gpu.yml
  conf/prometheus/rules/60-sla.yml
  conf/prometheus/rules/README.md
  conf/rag_exporter.py
  conf/webhook-receiver/entrypoint.sh
  conf/webhook-receiver/webhook-receiver.py
  docs/ru/archive/audits/production-readiness-audit-2025-12-16.md
  docs/ru/system/index.md
  docs/ru/system/status.md
  scripts/entrypoints/alertmanager.sh
  scripts/entrypoints/cloudflared-with-secret.sh
  scripts/entrypoints/litellm.sh
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/openwebui.sh
  scripts/entrypoints/ragflow-adapter.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/entrypoints/searxng.sh
  scripts/entrypoints/watchtower.sh
  scripts/entrypoints/webhook-receiver.sh
  scripts/lib/secrets.sh
  secrets/ragflow_api_key.txt.example
  services/ragflow-adapter/main.py
Due: docker-compose-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

refactor: monitoring system audit and best practices alignment
  conf/loki/loki-config.yaml
  conf/prometheus/prometheus.yml
  conf/prometheus/rules/00-recording.yml
  conf/prometheus/rules/20-databases.yml
  conf/prometheus/rules/30-ai-services.yml
  conf/prometheus/rules/40-logging.yml
  conf/prometheus/rules/50-gpu.yml
Due: none

fix: address CodeRabbit review comments
  conf/loki/loki-config.yaml
  conf/prometheus/rules/00-recording.yml
  conf/prometheus/rules/30-ai-services.yml
  conf/prometheus/rules/40-logging.yml
  conf/prometheus/rules/50-gpu.yml
Due: none

refactor: monitoring system audit and best practices alignment (#183)
  conf/loki/loki-config.yaml
  conf/prometheus/prometheus.yml
  conf/prometheus/rules/00-recording.yml
  conf/prometheus/rules/20-databases.yml
  conf/prometheus/rules/30-ai-services.yml
  conf/prometheus/rules/40-logging.yml
  conf/prometheus/rules/50-gpu.yml
Due: none

refactor: logging system best practices and performance optimization
  conf/fluent-bit/fluent-bit.conf
  conf/fluent-bit/scripts/noise_filter.lua
  conf/fluent-bit/scripts/tier_enrichment.lua
  conf/prometheus/rules/40-logging.yml
  scripts/lib/logger.py
Due: none

fix: address CodeRabbit review recommendations
  .gitignore
  conf/fluent-bit/fluent-bit.conf
  conf/prometheus/rules/10-infrastructure.yml
  conf/prometheus/rules/20-databases.yml
  conf/prometheus/rules/30-ai-services.yml
  conf/prometheus/rules/60-sla.yml
  conf/webhook-receiver/Dockerfile
  conf/webhook-receiver/webhook_receiver.py
  scripts/entrypoints/webhook-receiver.sh
  tests/python/test_webhook_receiver.py
  tests/python/test_webhook_receiver_signatures.py
Due: none

refactor: comprehensive Grafana dashboards audit and best practices
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/infrastructure/core-infrastructure-observability.json
  conf/grafana/dashboards/monitoring-stack/observability-control-plane.json
  conf/grafana/dashboards/security-performance/sla-error-budgets.json
  conf/grafana/dashboards/system-overview/platform-sre-overview.json
  conf/grafana/provisioning/dashboards/dashboards.yaml
  conf/grafana/provisioning/datasources/datasources.yaml
Due: none

perf(ollama): enable Flash Attention for Turing GPU
  compose.yml
  compose/ai.yml
Due: docker-compose-check

fix: address CodeRabbit nitpick recommendations
  conf/prometheus/rules/00-recording.yml
  conf/prometheus/rules/50-gpu.yml
  scripts/entrypoints/alertmanager.sh
  scripts/entrypoints/cloudflared-with-secret.sh
  scripts/entrypoints/litellm.sh
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/openwebui.sh
  scripts/entrypoints/ragflow-adapter.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/entrypoints/searxng.sh
  scripts/entrypoints/watchtower.sh
  scripts/entrypoints/webhook-receiver.sh
  scripts/lib/logger.py
  scripts/lib/secrets.sh
Due: none

ci(security): run code scanning on all pull requests
  .github/workflows/security.yml
Due: none

refactor: logging system best practices and performance optimization (#184)
  .github/workflows/security.yml
  .gitignore
  compose.yml
  compose/ai.yml
  conf/fluent-bit/fluent-bit.conf
  conf/fluent-bit/scripts/noise_filter.lua
  conf/fluent-bit/scripts/tier_enrichment.lua
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/infrastructure/core-infrastructure-observability.json
  conf/grafana/dashboards/monitoring-stack/observability-control-plane.json
  conf/grafana/dashboards/security-performance/sla-error-budgets.json
  conf/grafana/dashboards/system-overview/platform-sre-overview.json
  conf/grafana/provisioning/dashboards/dashboards.yaml
  conf/grafana/provisioning/datasources/datasources.yaml
  conf/loki/loki-config.yaml
  conf/prometheus/prometheus.yml
  conf/prometheus/rules/00-recording.yml
  conf/prometheus/rules/10-infrastructure.yml
  conf/prometheus/rules/20-databases.yml
  conf/prometheus/rules/30-ai-services.yml
  conf/prometheus/rules/40-logging.yml
  conf/prometheus/rules/50-gpu.yml
  conf/prometheus/rules/60-sla.yml
  conf/webhook-receiver/Dockerfile
  conf/webhook-receiver/webhook_receiver.py
  scripts/entrypoints/alertmanager.sh
  scripts/entrypoints/cloudflared-with-secret.sh
  scripts/entrypoints/litellm.sh
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/openwebui.sh
  scripts/entrypoints/ragflow-adapter.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/entrypoints/searxng.sh
  scripts/entrypoints/watchtower.sh
  scripts/entrypoints/webhook-receiver.sh
  scripts/lib/logger.py
  scripts/lib/secrets.sh
  tests/python/test_webhook_receiver.py
  tests/python/test_webhook_receiver_signatures.py
Due: docker-compose-check

chore: fix gitignore for compose/secrets symlink
  .gitignore
Due: none

fix(grafana): add missing navigation links to sla-error-budgets dashboard
  conf/grafana/dashboards/monitoring-stack/observability-control-plane.json
  conf/grafana/dashboards/system-overview/platform-sre-overview.json
Due: none

refactor(litellm): configuration best practices and Redis caching
  conf/grafana/dashboards/ai-services/litellm-monitoring.json
  conf/litellm/config.yaml
Due: none

fix(litellm): address CodeRabbit review comments
  conf/grafana/dashboards/ai-services/litellm-monitoring.json
  conf/litellm/config.yaml
Due: none

refactor(litellm): configuration best practices and Redis caching (#185)
  conf/grafana/dashboards/ai-services/litellm-monitoring.json
  conf/litellm/config.yaml
Due: none

fix(monitoring): fix Grafana dashboards and blackbox probes
  compose.yml
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/ai-services/litellm-monitoring.json
  conf/prometheus/prometheus.yml
Due: docker-compose-check

fix(grafana): address CodeRabbit review feedback
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/ai-services/litellm-monitoring.json
Due: none

fix(monitoring): fix Grafana dashboards and blackbox probes (#186)
  compose.yml
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/ai-services/litellm-monitoring.json
  conf/prometheus/prometheus.yml
Due: docker-compose-check

refactor(grafana): add datasource variables for portability
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/ai-services/litellm-monitoring.json
  conf/grafana/dashboards/infrastructure/core-infrastructure-observability.json
  conf/grafana/dashboards/monitoring-stack/observability-control-plane.json
  conf/grafana/dashboards/security-performance/sla-error-budgets.json
  conf/grafana/dashboards/system-overview/platform-sre-overview.json
Due: none

feat(grafana): refactor dashboards and add logging pipeline
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/infrastructure/core-infrastructure-observability.json
  conf/grafana/dashboards/monitoring-stack/logging-pipeline.json
  conf/grafana/dashboards/monitoring-stack/observability-control-plane.json
  conf/grafana/dashboards/security-performance/sla-error-budgets.json
  conf/grafana/dashboards/system-overview/platform-sre-overview.json
Due: none

fix(grafana): address CodeRabbit review feedback
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/infrastructure/core-infrastructure-observability.json
  conf/grafana/dashboards/monitoring-stack/logging-pipeline.json
  conf/grafana/dashboards/monitoring-stack/observability-control-plane.json
  conf/grafana/dashboards/system-overview/platform-sre-overview.json
Due: none

fix(grafana): address CodeRabbit nitpick suggestions
  conf/grafana/dashboards/infrastructure/core-infrastructure-observability.json
  conf/grafana/dashboards/monitoring-stack/logging-pipeline.json
  conf/grafana/dashboards/security-performance/sla-error-budgets.json
  conf/grafana/dashboards/system-overview/platform-sre-overview.json
Due: none

feat(grafana): refactor dashboards and add logging pipeline (#188)
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/infrastructure/core-infrastructure-observability.json
  conf/grafana/dashboards/monitoring-stack/logging-pipeline.json
  conf/grafana/dashboards/monitoring-stack/observability-control-plane.json
  conf/grafana/dashboards/security-performance/sla-error-budgets.json
  conf/grafana/dashboards/system-overview/platform-sre-overview.json
Due: none

fix(ci): resolve workflow failures in security and nightly-audit
  .github/workflows/nightly-audit.yml
  .github/workflows/security.yml
Due: none

fix: address CodeRabbit review comments
  compose.yml
  conf/prometheus/rules/00-recording.yml
  conf/prometheus/rules/10-infrastructure.yml
  conf/prometheus/rules/40-logging.yml
  docs/ru/system/status.md
  scripts/entrypoints/alertmanager.sh
  scripts/entrypoints/cloudflared-with-secret.sh
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/entrypoints/watchtower.sh
Due: docker-compose-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(security): escape sed injection in alertmanager entrypoint
  scripts/entrypoints/alertmanager.sh
Due: none

fix: address code review findings
  conf/prometheus/rules/00-recording.yml
  scripts/entrypoints/alertmanager.sh
  scripts/lib/secrets.sh
Due: none

fix(ci): resolve workflow failures in security and nightly-audit (#189)
  .github/workflows/nightly-audit.yml
  .github/workflows/security.yml
  compose.yml
  conf/prometheus/rules/00-recording.yml
  conf/prometheus/rules/10-infrastructure.yml
  conf/prometheus/rules/40-logging.yml
  docs/ru/system/status.md
  scripts/entrypoints/alertmanager.sh
  scripts/entrypoints/cloudflared-with-secret.sh
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/entrypoints/watchtower.sh
  scripts/lib/secrets.sh
Due: docker-compose-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files
