Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


fix: consolidate Prettier configuration to resolve formatting conflicts
  .prettierrc
  .prettierrc.json
Due: none

fix: synchronize Prettier versions between pre-commit and script
  .github/dependabot.yml
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-environments.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/update-status.yml
  .pre-commit-config.yaml
  .pre-commit/config-docs.yaml
  .pre-commit/config-fast.yaml
  .pre-commit/config-full.yaml
  .pre-commit/config-security.yaml
  compose/ai.yml
  compose/base.yml
  compose/data.yml
  compose/gateway.yml
  compose/monitoring.yml
  conf/postgres-exporter/queries.yaml
  docs/api/auth-service-openapi.yaml
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
  docs/archive/diagnostics/full-server-diagnostics-2025-11-04.md
  docs/de/reference/mcpo-integration-guide.md
  docs/development/testing-guide.md
  docs/en/examples/api-usage-rest.md
  docs/en/reference/api-reference.md
  docs/en/reference/mcpo-integration-guide.md
  docs/en/reference/webhook-api.md
  docs/examples/api-usage-rest.md
  docs/examples/docker-compose-override.yml
  docs/examples/litellm-config.yaml
  docs/reference/api-reference.md
  docs/reference/status.yml
  docs/reference/webhook-api.md
  ops/alertmanager/blackbox-noise-route.yml
  ops/prometheus/blackbox-noise.rules.yml
  tests/python/README.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: resolve critical configuration consistency issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
  auth/go.mod
  docs/reports/configuration-consistency-audit.md
  pyproject.toml
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: correct Go version to 1.24.0 and update audit report
  .github/workflows/security.yml
  auth/go.mod
  docs/reports/configuration-consistency-audit.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

perf: add Docker layer caching to CI workflows
  .github/workflows/ci.yml
Due: none

security: CRITICAL - update Go to 1.24.11 to patch 13 vulnerabilities
  auth/go.mod
  docs/reports/configuration-consistency-audit.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: standardize setup-bun version and add govulncheck
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: create cache directories before GitHub Actions cache step
  .github/workflows/ci.yml
Due: none

docs: remove redundant sys.path setup from test examples
  tests/python/README.md
Due: markdownlint-cli2, no-emoji-in-files

feat: add YAML linting with yamllint and comprehensive style guide
  .pre-commit-config.yaml
  .yamllint
  docs/guides/yaml-style-guide.md
  requirements-dev.txt
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: increase timeout for Docker image caching jobs
  .github/workflows/ci.yml
Due: none

docs: address CodeRabbit review comments on configuration audit
  .pre-commit-config.yaml
  docs/reports/configuration-consistency-audit.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

perf: optimize observability-configs job - parallel image pulls
  .github/workflows/ci.yml
Due: none

docs: add GitHub Secrets configuration guide and setup script
  docs/guides/SECRETS-QUICK-REFERENCE.md
  docs/guides/github-secrets-setup.md
  scripts/setup-github-secrets.sh
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(ci): exclude conventionalcommits.org from link checker
  .github/workflows/ci.yml
  .github/workflows/nightly-audit.yml
Due: none

docs: add comprehensive contract testing plan (Phase 2.3)
  docs/development/contract-testing-plan.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

feat: add documentation audit tools and automation (Phase 2.6 Week 1)
  .github/workflows/docs-quality.yml
  .github/workflows/nightly-audit.yml
  .markdownlint.json
  .yamllint.yml
  docs/development/contract-testing-plan.md
  docs/development/documentation-revision-plan-2025-12.md
  scripts/docs/README.md
  scripts/docs/check-stale-docs.sh
  scripts/docs/run-local-audit.sh
  scripts/docs/run-quick-check.sh
  scripts/docs/translation-sync-check.sh
  scripts/docs/validate-frontmatter.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: add comprehensive documentation audit analysis (Week 1 Task 2)
  docs/reports/audit-2025-12/AUDIT-ANALYSIS.md
  docs/reports/audit-2025-12/README.md
  docs/reports/audit-2025-12/broken-links.md
  docs/reports/audit-2025-12/frontmatter.json
  docs/reports/audit-2025-12/stale-docs.txt
  docs/reports/audit-2025-12/translations.txt
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: resolve shellcheck warnings and improve TODO detection
  docs/reports/todo-analysis.md
  scripts/health-monitor-v2.sh
  scripts/maintenance/extract_todos.py
  scripts/monitor-disk-space.sh
  scripts/monitor-litellm-memory.sh
  scripts/post-websocket-monitor.sh
  scripts/rag-health-monitor.sh
  scripts/redis-performance-optimization.sh
  scripts/setup-github-secrets.sh
  scripts/setup-monitoring.sh
  scripts/test-redis-connections.sh
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: make contract and smoke tests optional when secrets not configured
  .github/workflows/ci.yml
Due: none

ci: fix promtail config validation noise
  .github/workflows/ci.yml
Due: none

feat: add Academy KI GitHub Pages deployment
  .github/workflows/deploy-academy.yml
  .gitignore
  .pre-commit-config.yaml
  docs/academy/stylesheets/extra.css
  mkdocs-academy.yml
Due: forbid-numbered-copies

fix: replace broken external links with placeholders in Academy docs
  .markdownlint-cli2.jsonc
  docs/academy/.markdownlint.json
  docs/academy/ERNI-GRUPPE-IMPLEMENTATION-SUMMARY.md
  docs/academy/by-industry/construction/bautagebuch-erstellen.md
  docs/academy/by-industry/holzbau/angebot-erstellen.md
  docs/academy/by-industry/holzbau/index.md
  docs/academy/by-industry/index.md
  docs/academy/fundamentals/index.md
  docs/academy/getting-started/faq.md
  docs/academy/getting-started/first-steps.md
  docs/academy/getting-started/index.md
  docs/academy/getting-started/safety-and-ethics.md
  docs/academy/howto/index.md
  docs/academy/index.md
  docs/academy/openwebui-basics.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: address code review comments for shell scripts and tests
  .pre-commit-config.yaml
  auth/main_test.go
  docs/reports/todo-analysis.md
  scripts/ci/run-pytest.sh
  scripts/maintenance/extract_todos.py
  scripts/monitor-litellm-memory.sh
  scripts/post-websocket-monitor.sh
  scripts/setup-github-secrets.sh
  scripts/test-redis-connections.sh
Due: gofmt, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: improve test environment consistency between local and CI
  .github/workflows/ci.yml
  pyproject.toml
  requirements-dev.txt
Due: no-emoji-in-files

fix: address additional CodeRabbit review comments
  .github/workflows/deploy-academy.yml
  auth/main_test.go
Due: gofmt

fix(docs): resolve Academy KI broken anchor links and nav issues
  docs/academy/ERNI-GRUPPE-IMPLEMENTATION-SUMMARY.md
  docs/academy/by-industry/construction/bautagebuch-erstellen.md
  docs/academy/by-industry/holzbau/angebot-erstellen.md
  docs/academy/by-industry/holzbau/index.md
  docs/academy/by-industry/index.md
  docs/academy/context-engineering-101.md
  docs/academy/fundamentals/index.md
  docs/academy/getting-started/faq.md
  docs/academy/getting-started/first-steps.md
  docs/academy/getting-started/index.md
  docs/academy/getting-started/safety-and-ethics.md
  docs/academy/howto/index.md
  docs/academy/index.md
  docs/academy/openwebui-basics.md
  mkdocs-academy.yml
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

feat(ci): enhance Academy KI CI/CD pipeline
  .github/workflows/deploy-academy.yml
Due: none

fix(ci): harden GitHub Actions with SHA-pinning and version fixes
  .github/workflows/ci.yml
  .github/workflows/deploy-academy.yml
  .github/workflows/deploy-environments.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/update-status.yml
Due: none

fix(ci): enforce workflow configuration consistency
  .github/workflows/ci.yml
  .github/workflows/deploy-academy.yml
  .github/workflows/deploy-environments.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/update-status.yml
  requirements-docs.txt
Due: no-emoji-in-files

fix(security): enforce strict exit codes for security scanners
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

feat(ci): add composite action for environment secrets resolution
  .github/actions/resolve-secrets/action.yml
  .github/workflows/deploy-environments.yml
Due: none

feat(ci): add reusable workflow for Docker build
  .github/workflows/reusable-docker-build.yml
Due: none

docs: add GitHub Actions workflow architecture documentation
  docs/development/workflows.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(ci): synchronize lychee exclusions across workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-academy.yml
  .github/workflows/nightly-audit.yml
  .lychee.toml
Due: none

fix(ci): resolve workflow errors and deprecation warnings
  .github/workflows/ci.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/security.yml
  requirements-docs.txt
Due: no-emoji-in-files

ci: temporarily disable Observability Config Checks
  .github/workflows/ci.yml
Due: none

fix(ci): resolve golangci-lint and Checkov failures
  .github/workflows/ci.yml
  .github/workflows/reusable-docker-build.yml
Due: none

fix(ci): add status.erni-ki.ch to lychee exclusions
  .github/workflows/ci.yml
  .github/workflows/deploy-academy.yml
  .github/workflows/nightly-audit.yml
  .lychee.toml
Due: none

fix(ci): remove hardcoded GOTOOLCHAIN from Gosec scanner
  .github/workflows/ci.yml
Due: none
