Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, goimports, status-snippet-check, validate-docs-metadata

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  validate-docs-metadata: any of: ^docs/.*\.md$

docs: add comprehensive system audit and security action plan
  docs/operations/security-action-plan.md
  docs/reports/comprehensive-system-audit-2025-11-27.md
  docs/reports/index.md
  docs/reports/system-audit-summary-2025-11-27.md
Due: validate-docs-metadata

security: audit secrets and fix permissions (FALSE POSITIVE resolved)
  docs/security/secrets-audit-2025-11-27.md
  scripts/security/fix-secret-permissions.sh
  scripts/security/generate-secrets.sh
Due: validate-docs-metadata

docs: sync main docs (RU/DE) with latest audit results
  docs/de/index.md
  docs/de/overview.md
  docs/index.md
  docs/overview.md
Due: status-snippet-check, validate-docs-metadata

docs: fix nav links to index pages
  docs/archive/audits/comprehensive-documentation-audit-2025-11-24.md
  docs/archive/audits/comprehensive-documentation-audit-2025-11-25.md
  docs/archive/audits/documentation-refactoring-audit-2025-11-24.md
  docs/archive/audits/index.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-v2-2025-11-24.md
  docs/de/operations/README.md
  docs/de/reference/README.md
  docs/de/security/README.md
  docs/en/operations/README.md
  docs/operations/index.md
  docs/operations/security-action-plan.md
  docs/reference/README.md
  docs/reports/comprehensive-system-audit-2025-11-27.md
  docs/reports/index.md
  docs/reports/system-audit-summary-2025-11-27.md
  docs/security/README.md
  docs/security/secrets-audit-2025-11-27.md
  mkdocs.yml
Due: validate-docs-metadata

docs: fix metadata validation errors
  docs/operations/security-action-plan.md
  docs/reports/comprehensive-system-audit-2025-11-27.md
  docs/reports/system-audit-summary-2025-11-27.md
  docs/security/secrets-audit-2025-11-27.md
  docs/system/index.md
Due: validate-docs-metadata

docs: auto-update status snippets
  docs/de/reference/status-snippet.md
  docs/reference/status-snippet.md
Due: status-snippet-check, validate-docs-metadata

security: implement secret file permissions enforcement
  .pre-commit-config.yaml
  docs/security/secrets-audit-2025-11-27.md
  scripts/security/check-secret-permissions.sh
Due: validate-docs-metadata

chore: update inventory and services
  compose.yml
  conf/nginx/conf.d/default.conf
  docs/reports/audit-report-2025-11-28.txt
  docs/reports/comprehensive-audit-2025-11-28.md
  scripts/core/maintenance/sync-models-to-database.py
  scripts/core/maintenance/test-admin-models-display.sh
  scripts/entrypoints/openwebui.sh
  scripts/entrypoints/searxng.sh
  scripts/functions/assistant_api_wrapper.py
  scripts/functions/openai_assistant_function.py
  scripts/redis-performance-optimization.sh
  scripts/test-redis-connections.sh
  secrets/redis_password.txt.example
Due: docker-compose-check, validate-docs-metadata

feat(docs): add index.md files and architecture diagrams
  docs/architecture/diagrams/architecture-overview.md
  docs/architecture/diagrams/data-flow.md
  docs/architecture/diagrams/deployment-diagram.md
  docs/architecture/diagrams/index.md
  docs/architecture/diagrams/network-topology.md
  docs/archive/audits/index.md
  docs/archive/config-backup/index.md
  docs/archive/howto/index.md
  docs/archive/migrations/documentation-refactoring-plans/index.md
  docs/archive/migrations/index.md
  docs/archive/news/index.md
  docs/archive/training/index.md
  docs/de/getting-started/index.md
  docs/de/operations/automation/index.md
  docs/de/operations/core/index.md
  docs/de/operations/maintenance/index.md
  docs/de/system/index.md
  docs/en/getting-started/index.md
  docs/en/operations/core/index.md
  docs/en/reference/index.md
  docs/en/system/index.md
Due: validate-docs-metadata

docs: update system status and improve documentation quality to 9.8/10
  docs/archive/audits/service-version-audit-2025-11-25.md
  docs/archive/audits/service-version-matrix-2025-11-25.md
  docs/reports/audit-report-2025-11-27.txt
  docs/reports/index.md
  docs/system/index.md
  docs/system/status.md
Due: validate-docs-metadata

docs: fix overview links after README→index rename
  docs/overview.md
Due: status-snippet-check, validate-docs-metadata

feat(docs): translate Academy KI documentation to German
  docs/de/academy/howto/create-jira-ticket.md
  docs/de/academy/howto/summarize-meeting-notes.md
  docs/de/academy/howto/write-customer-email.md
  docs/de/academy/index.md
  docs/de/academy/news/2025-01-release-x.md
  docs/de/academy/news/index.md
  docs/de/academy/openwebui-basics.md
  docs/de/academy/prompting-101.md
Due: validate-docs-metadata

fix(docs): correct Mermaid diagram syntax
  docs/architecture/diagrams/architecture-overview.md
  docs/architecture/diagrams/data-flow.md
  docs/architecture/diagrams/deployment-diagram.md
  docs/architecture/diagrams/network-topology.md
Due: validate-docs-metadata
