Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


feat: add Python testing to CI and fix webhook receiver tests
  .github/workflows/ci.yml
  .github/workflows/nightly-audit.yml
  SECURITY.md
  conf/webhook-receiver/webhook-receiver.py
  docker-compose.example.yml
  ops/ollama-exporter/Dockerfile
  poetry.lock
  pyproject.toml
  tests/python/test_webhook_receiver.py
Due: markdownlint-cli2, no-emoji-in-files

fix: resolve CodeRabbit code review issues
  docs/development/setup-guide.md
  docs/examples/index.md
  docs/examples/webhook-client-python.py
  docs/reference/service-versions.md
  docs/reference/webhook-api.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: correct quote syntax in .vscode/LINTERS.md
  .vscode/LINTERS.md
Due: markdownlint-cli2, no-emoji-in-files

chore: standardize audit docs, tooling, and examples
  .github/pull_request_template.md
  .pre-commit-config.yaml
  DOCUMENTATION_AUDIT_REPORT.md
  conf/__init__.py
  conf/webhook-receiver/webhook_handler.py
  docker-compose.example.yml
  docs/archive/README.md
  docs/archive/audits/README.md
  docs/archive/audits/index.md
  docs/archive/diagnostics/README.md
  docs/archive/diagnostics/index.md
  docs/archive/incidents/README.md
  docs/archive/incidents/index.md
  docs/archive/index.md
  docs/data/README.md
  docs/data/index.md
  docs/de/operations/monitoring/index.md
  docs/examples/.env.example
  docs/examples/README.md
  docs/examples/api-usage-rest.md
  docs/examples/docker-compose-override.yml
  docs/examples/litellm-config.yaml
  docs/examples/nginx-examples.md
  docs/operations/monitoring/index.md
  docs/troubleshooting/common-issues.md
  go.mod
  mkdocs.yml
  mypy.ini
  scripts/__init__.py
  scripts/docs/__init__.py
  scripts/functions/openai_assistant_function.py
  scripts/functions/ragflow_pipe_improved.py
  tests/python/test_webhook_receiver.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: standardize documentation language metadata (SPRINT 3)
  docs/archive/audits/index.md
  docs/data/index.md
  docs/examples/api-usage-rest.md
  docs/examples/index.md
  docs/examples/nginx-examples.md
  docs/reference/CHANGELOG.md
  docs/reference/NO-EMOJI-POLICY.md
  docs/reference/api-reference.md
  docs/reference/development.md
  docs/reference/documentation-maintenance-strategy.md
  docs/reference/documentation-refactoring-plan.md
  docs/reference/emoji-style-guide.md
  docs/reference/github-environments-setup.md
  docs/reference/index.md
  docs/reference/language-policy.md
  docs/reference/mcpo-integration-guide.md
  docs/reference/metadata-standards.md
  docs/reference/non-root-containers-plan.md
  docs/reference/pre-commit-hooks.md
  docs/reference/service-versions.md
  docs/reference/status-snippet.md
  docs/reference/style-guide.md
  docs/reference/webhook-api.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: resolve 5 failing pytest tests
  conf/webhook-receiver/webhook_handler.py
  scripts/docs/check_archive_readmes.py
  tests/python/test_docs_scripts_additional.py
  tests/python/test_logger.py
Due: none

chore: reorganize examples to language-specific directories
  .pre-commit-config.yaml
  docs/en/examples/api-usage-rest.md
  docs/en/examples/index.md
  docs/en/examples/nginx-examples.md
  docs/reference/CHANGELOG.md
  docs/reference/NO-EMOJI-POLICY.md
  docs/reference/api-reference.md
  docs/reference/development.md
  docs/reference/documentation-maintenance-strategy.md
  docs/reference/documentation-refactoring-plan.md
  docs/reference/emoji-style-guide.md
  docs/reference/github-environments-setup.md
  docs/reference/index.md
  docs/reference/language-policy.md
  docs/reference/non-root-containers-plan.md
  docs/reference/pre-commit-hooks.md
  docs/reference/service-versions.md
  docs/reference/status-snippet.md
  docs/reference/style-guide.md
  docs/reference/webhook-api.md
  scripts/maintenance/check_duplicate_basenames.py
  scripts/rotate-logs.sh
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: correct language metadata for Russian-based documents
  docs/archive/audits/index.md
  docs/data/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: align language paths and add duplicate guard
  .secrets.baseline
  docs/archive/audits/index.md
  docs/data/index.md
  docs/de/reference/status-snippet.md
  docs/en/reference/mcpo-integration-guide.md
  docs/reference/api-reference.md
  docs/reference/github-environments-setup.md
  docs/reference/mcpo-integration-guide.md
  scripts/maintenance/check_duplicate_basenames.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: normalize doc file permissions
  docs/archive/audits/index.md
  docs/data/index.md
  docs/de/reference/status-snippet.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

feat: close critical production gaps with deployment, SLA, and DevOps tooling
  Makefile
  docs/en/operations/core/pre-deployment-checklist.md
  docs/en/operations/core/sla-definitions.md
  docs/en/reference/api-reference.md
  scripts/entrypoints/litellm.sh
  scripts/entrypoints/openwebui.sh
  scripts/entrypoints/searxng.sh
  scripts/functions/env-validator.sh
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: fix prettier formatting for pre-deployment checklist
  docs/en/operations/core/pre-deployment-checklist.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: pass pre-commit hooks (status snippet, lint fixes)
  docs/de/reference/status-snippet.md
  docs/en/operations/core/pre-deployment-checklist.md
  docs/en/operations/core/sla-definitions.md
  docs/en/reference/api-reference.md
  docs/reference/api-reference.md
  docs/reference/status-snippet.md
  scripts/functions/env-validator.sh
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: replace placeholders with style and maintenance guides
  docs/reference/NO-EMOJI-POLICY.md
  docs/reference/documentation-maintenance-strategy.md
  docs/reference/style-guide.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: add mypy check to improve code quality
  .github/workflows/ci.yml
  requirements-dev.txt
Due: no-emoji-in-files

ci: add pip-audit to security workflow
  .github/workflows/security.yml
Due: none

docs: clarify network segmentation in architecture
  docs/architecture/architecture.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: expand reference index and cross-links
  docs/en/reference/index.md
  docs/reference/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: add CI/CD overview to operations
  docs/operations/core/ci-cd-overview.md
  docs/operations/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files
