Repository iamobservable/open-webui-starter: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-check, gofmt, goimports

Path conditions:
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  goimports: any of: \.go$

feat: improve alert delivery and runbooks
  .secrets.baseline
  compose.yml
  compose.yml.example
  conf.old/alertmanager/alertmanager.yml
  conf.old/prometheus/alert_rules.yml
  docs/operations/monitoring-guide.md
  scripts/monitoring/alertmanager-queue-watch.sh
  scripts/monitoring/test-alert-delivery.sh
  secrets/pagerduty_routing_key.txt.example
  secrets/slack_alert_webhook.txt.example
Due: docker-compose-check

feat: add cron watchdog evidence metrics
  .secrets.baseline
  compose.yml
  compose.yml.example
  conf.old/alertmanager/alertmanager.yml
  conf/cron/logging-reports.cron
  conf/prometheus/alert_rules.yml
  docs/operations/monitoring-guide.md
  scripts/maintenance/redis-fragmentation-watchdog.sh
  scripts/monitoring/alertmanager-queue-watch.sh
  scripts/monitoring/record-cron-status.sh
  scripts/monitoring/update-cron-metrics.sh
  scripts/utilities/reporting/logging-reports.sh
Due: docker-compose-check

docs: refresh monitoring guide after phase 0
  docs/operations/monitoring-guide.md
Due: none

chore: stabilize logging stack and audit
  auth/go.mod
  auth/go.sum
  auth/main.go
  compose.yml
  docs/logging-system-audit-2025-11-14.md
  docs/operations/monitoring-guide.md
Due: docker-compose-check, gofmt, goimports

feat: secure logging transport and audit follow-up
  .gitignore
  compose.yml
  conf/fluent-bit/certs/.gitkeep
  conf/loki/loki-config.yaml
  conf/loki/tls/.gitkeep
  conf/prometheus/prometheus.yml
  docs/monitoring-logging-audit-2025-11-14.md
  docs/operations/monitoring-guide.md
  scripts/security/prepare-logging-tls.sh
Due: docker-compose-check

chore: restore js-ts qa pipelines
  .github/workflows/ci.yml
  package.json
  playwright.config.ts
  scripts/run-playwright-mock.sh
  tests/e2e/mock-openwebui.spec.ts
  tests/mocks/mock-openwebui-server.mjs
  tests/unit/mock-env.test.ts
  tsconfig.json
  vitest.config.ts
Due: none

Adjust logging driver and CI references
  .github/workflows/ci.yml
  compose.yml
  docs/operations/monitoring-guide.md
Due: docker-compose-check

docs: note remote branch cleanup status
  docs/remote-branch-cleanup.md
Due: none

chore: strongly type test utilities
  tests/setup.ts
  types/global.d.ts
Due: none

test: modularize test utilities
  tests/setup.ts
  tests/utils/test-utils.ts
  types/global.d.ts
  types/testing.d.ts
Due: none

chore(ci): fix workflow expressions
  .github/workflows/ci.yml
  .github/workflows/deploy-environments.yml
  .github/workflows/security.yml
  docs/operations/ci-health.md
  docs/operations/monitoring-guide.md
  scripts/monitoring/alertmanager-queue-cleanup.sh
Due: none

chore: enforce secure js-yaml tmp versions
  package-lock.json
  package.json
Due: none

chore: align linting with prettier and fix test utils
  eslint.config.js
Due: none

chore: fix lint config and test utils formatting
  eslint.config.js
Due: none

chore: document github governance and add templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  docs/operations/github-governance.md
  docs/reference/github-environments-setup.md
Due: none
