Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


fix: remove broken function fragment in production-setup.sh
  scripts/services/nginx/production-setup.sh
Due: none

fix: remove another broken function fragment in production-setup.sh
  scripts/services/nginx/production-setup.sh
Due: none

refactor: standardize scripts/utilities to use common.sh (batch 5/8)
  scripts/utilities/check-docker-tags.sh
  scripts/utilities/git-clean-safe.sh
  scripts/utilities/log-monitoring.sh
  scripts/utilities/reporting/logging-reports.sh
  scripts/utilities/setup-log-monitoring-cron.sh
  scripts/utilities/validate-tests.sh
Due: none

fix: remove broken function fragments and replace warn() in batch 5
  scripts/utilities/log-monitoring.sh
  scripts/utilities/setup-log-monitoring-cron.sh
Due: none

refactor: standardize scripts/maintenance to use common.sh (batch 6/8)
  scripts/maintenance/docling-shared-cleanup.sh
  scripts/maintenance/download-docling-models.sh
  scripts/maintenance/enforce-docling-shared-policy.sh
  scripts/maintenance/install-docling-cleanup-unit.sh
  scripts/maintenance/redis-fragmentation-watchdog.sh
  scripts/maintenance/render-docling-cleanup-sudoers.sh
  scripts/maintenance/webhook-logs-rotate.sh
Due: none

refactor: standardize scripts/monitoring to use common.sh (batch 7/8)
  scripts/monitoring/alertmanager-queue-cleanup.sh
  scripts/monitoring/alertmanager-queue-watch.sh
  scripts/monitoring/docling-cleanup-permission-metric.sh
  scripts/monitoring/record-cron-status.sh
  scripts/monitoring/test-alert-delivery.sh
  scripts/monitoring/update-cron-metrics.sh
Due: none

refactor: standardize scripts/security to use common.sh (batch 8/8)
  scripts/security/check-secret-permissions.sh
  scripts/security/fix-secret-permissions.sh
  scripts/security/generate-secrets.sh
  scripts/security/prepare-logging-tls.sh
Due: none

fix: resolve CodeRabbit issues - logger implementation and link fixes
  .gitignore
  docs/en/operations/core/index.md
  scripts/lib/logger.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: address CodeRabbit spell-check issues and metadata
  .cspellrc.json
  docs/de/reference/status-snippet.md
  docs/reference/status-snippet.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: update logger.py type hints to modern Python syntax
  scripts/lib/logger.py
Due: none

chore: restore common shell library
  scripts/lib/common.sh
Due: none

chore: format docs/en/operations/core/index.md
  docs/en/operations/core/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: address CodeRabbit feedback
  .cspellrc.json
  ops/ollama-exporter/app.py
  scripts/core/maintenance/sync-models-to-database.py
  scripts/lib/logger.py
Due: none

fix: correct maintenance documentation links in German locale
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/archive/audits/README.md
  docs/de/operations/maintenance/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: add shellcheck and fix archive/data readme checks
  docs/data/README.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: resolve critical shellcheck errors
  scripts/core/maintenance/comprehensive-audit.sh
  scripts/infrastructure/monitoring/rate-limiting-dashboard.sh
  scripts/monitoring/alertmanager-queue-cleanup.sh
Due: none

fix: resolve SC2259 shellcheck error in alertmanager-queue-cleanup.sh
  scripts/monitoring/alertmanager-queue-cleanup.sh
Due: none

ci: tighten shellcheck to error and exclude venv
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

docs: align metadata and lint outputs
  .vscode/LINTERS.md
  CHANGELOG.md
  DOCUMENTATION_AUDIT_REPORT.md
  automation/amtool-silence-plan.md
  docs/archive/audits/README.md
  docs/de/reference/status-snippet.md
  docs/deployment/production-checklist.md
  docs/development/setup-guide.md
  docs/development/testing-guide.md
  docs/examples/README.md
  docs/examples/webhook-client-python.py
  docs/examples/webhook-examples.sh
  docs/reference/service-versions.md
  docs/reference/status-snippet.md
  docs/reference/webhook-api.md
  docs/troubleshooting/common-issues.md
  language-policy.config.json
  ops/ollama-exporter/app.py
  scripts/core/maintenance/sync-models-to-database.py
  scripts/infrastructure/security/lib/letsencrypt-common.sh
  scripts/lib/logger.py
  scripts/lib/monitoring.sh
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files
