Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ts-type-check:
  name: 'TypeScript: type check'
  entry: npm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docker-compose-check:
  name: 'Docker Compose: configuration validation'
  entry: docker compose config -q
  language: system
  pass_filenames: false

gofmt:
  name: 'Go: code formatting'
  entry: gofmt
  language: system
  args:
  - -w

status-snippet-check:
  name: 'Docs: validate status snippets'
  entry: python3 scripts/docs/update_status_snippet.py --check
  language: system
  pass_filenames: false

markdownlint-cli2:
  name: 'Docs: markdownlint'
  entry: npx markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.19.1

validate-docs-metadata:
  name: 'Docs: validate metadata'
  entry: python3 scripts/docs/validate_metadata.py
  language: system
  pass_filenames: false

forbid-numbered-copies:
  name: 'Docs: forbid numbered filename copies'
  entry: bash
  language: system
  args:
  - -c
  - "status=0\nfor f in \"$@\"; do\n  base=\"${f##*/}\"\n  if [[ \"$base\" =~ [[:space:]][0-9]+(\\.|$) ]]; then\n    echo \"Duplicate-style filename detected: $f\"\n    status=1\n  fi\ndone\nexit $status\n"

no-emoji-in-files:
  name: 'Docs: validate no emoji'
  entry: python3 scripts/validate-no-emoji.py
  language: system

ci: skip trivy version check
  .github/workflows/ci.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/security.yml
  .markdownlint-cli2.jsonc
  .mcp.json
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  cleanup_remaining.sh
  compose.yml
  docs/de/reference/status-snippet.md
  docs/en/reference/script-catalog.md
  docs/reference/status-snippet.md
  docs/reference/status.yml
  env/ragflow-adapter.example
  eslint.config.js
  migrate_archive.sh
  migrate_deep_files.sh
  migrate_ru_files.sh
  migrate_to_i18n.sh
  mypy.ini
  resolve_conflicts.sh
  scripts/docs/check_archive_readmes.py
  scripts/docs/validate_metadata.py
  scripts/entrypoints/auth.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/language-check.cjs
  services/ragflow-adapter/Dockerfile
  services/ragflow-adapter/main.py
  tests/setup.ts
Due: ts-type-check, docker-compose-check, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: remove ragflow placeholders
  env/ragflow-adapter.example
Due: none

chore(scripts): remove orphan/legacy scripts
  docs/en/reference/script-catalog.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

test: harden e2e and skip missing deps
  tests/e2e/openwebui-rag.spec.ts
  tests/e2e/test-aktennotiz-upload.spec.ts
  tests/e2e/upload-test.spec.ts
  tests/image-description/test-with-image.html
  tests/python/test_rag_exporter.py
  tests/python/test_webhook_handler.py
  tests/python/test_webhook_handler_negatives.py
  tests/python/test_webhook_receiver_signatures.py
  tests/setup.ts
Due: ts-type-check

docs: fix script catalog metadata
  docs/en/reference/script-catalog.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: fix link check errors
  docs/de/getting-started/installation.md
  docs/de/system/status.md
  docs/en/archive/audits/README.md
  docs/en/development/docs-monitoring.md
  docs/en/operations/automation/automated-maintenance-guide.md
  docs/en/operations/core/operations-handbook.md
  docs/en/operations/index.md
  docs/en/system/status.md
  docs/ru/archive/audits/README.md
  docs/ru/archive/audits/comprehensive-code-audit-2025-12-04.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: fix de status page link
  docs/de/system/status.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: fix ragflow env and doc links
  AGENTS_2.md
  compose.yml
  docs/de/getting-started/installation.md
  docs/de/system/status.md
  env/ragflow-adapter.example
  scripts/docs/validate_metadata.py
Due: docker-compose-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: prepare v0.61.3 release
  CHANGELOG.md
  docs/en/reference/CHANGELOG.md
  docs/reference/status.yml
  docs/ru/development/pre-commit-guide.md
  docs/ru/development/workflows.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: harden ragflow adapter and disable codeql for release
  .github/workflows/security.yml
  services/ragflow-adapter/Dockerfile
  services/ragflow-adapter/main.py
Due: none

ci: skip codeql/dast summary for release checks
  .github/workflows/security.yml
Due: none

ci: allow release/* for security and docs deploy
  .github/workflows/docs-deploy.yml
  .github/workflows/security.yml
Due: none

ci: stub codeql job for release branch runs
  .github/workflows/security.yml
Due: none

ci: add aiofiles stubs for mypy
  requirements-dev.txt
Due: no-emoji-in-files

ci: add noop step to disabled security-report
  .github/workflows/security.yml
Due: none

chore(git): document hygiene and ignore artefacts
  .gitignore
  AGENTS.md
  docs/en/reference/git-hygiene.md
  docs/en/reference/script-catalog.md
  docs/ru/archive/reports/budget-analysis-2025-11.md
  docs/ru/archive/reports/index.md
  docs/ru/archive/reports/searxng-redis-issue-2025-10.md
  scripts/git-hygiene/check-artifacts.sh
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: infrastructure improvements from 24h log analysis
  compose.yml
  conf/redis/users.acl
  conf/searxng/limiter.toml
Due: docker-compose-check

docs: fix broken links and update changelog for v0.61.3
  CHANGELOG.md
  docs/de/operations/maintenance/backup-restore-procedures.md
  docs/de/operations/monitoring/monitoring-guide.md
  docs/en/examples/api-usage-rest.md
  docs/reference/status.yml
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: fix update-status workflow for protected branches
  .github/workflows/update-status.yml
  README.md
  docs/de/reference/status-snippet.md
  docs/reference/status-snippet.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: update bun.lock for @types/node 25.0.2
  bun.lock
Due: none

docs: add missing archive/reports/index.md files
  docs/en/archive/reports/index.md
  docs/ru/archive/reports/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(ragflow-adapter): use aiofiles for async file operations (ASYNC230)
  services/ragflow-adapter/Dockerfile
  services/ragflow-adapter/main.py
Due: none

fix(ragflow-adapter): add non-root user for security (CKV_DOCKER_3)
  services/ragflow-adapter/Dockerfile
Due: none

style: format docs/ru/archive/reports/index.md
  docs/ru/archive/reports/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(ragflow-adapter): add type ignore for aiofiles import
  services/ragflow-adapter/main.py
Due: none

chore(deps): bump zaproxy/action-baseline from 0.14.0 to 0.15.0
  .github/workflows/security.yml
Due: none

chore: sync develop branch to main (#179)
  .gitignore
  AGENTS.md
  docs/en/archive/reports/index.md
  docs/en/reference/git-hygiene.md
  docs/en/reference/script-catalog.md
  docs/ru/archive/reports/budget-analysis-2025-11.md
  docs/ru/archive/reports/index.md
  docs/ru/archive/reports/searxng-redis-issue-2025-10.md
  scripts/git-hygiene/check-artifacts.sh
  services/ragflow-adapter/Dockerfile
  services/ragflow-adapter/main.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: infrastructure fixes from log audit
  compose.yml
  conf/Dockerfile.rag-exporter
  conf/prometheus/prometheus.yml
  conf/rag_exporter.py
  conf/searxng/limiter.toml
  conf/webhook-receiver/Dockerfile
  conf/webhook-receiver/requirements.txt
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/entrypoints/searxng.sh
Due: docker-compose-check, no-emoji-in-files

fix: add webhook-receiver authentication and MCPO security improvements
  compose.yml
  conf/webhook-receiver/Dockerfile
  conf/webhook-receiver/webhook-receiver.py
Due: docker-compose-check

chore: add entrypoint scripts for future Docker secrets support
  conf/webhook-receiver/entrypoint.sh
  scripts/entrypoints/alertmanager.sh
Due: none

fix: optimize memory limits and infrastructure improvements
  compose.yml
  scripts/entrypoints/redis-exporter-with-secret.sh
Due: docker-compose-check

fix: add webhook-receiver.example for CI
  env/webhook-receiver.example
Due: none

fix: optimize memory limits and infrastructure improvements (#180)
  compose.yml
  conf/Dockerfile.rag-exporter
  conf/prometheus/prometheus.yml
  conf/rag_exporter.py
  conf/searxng/limiter.toml
  conf/webhook-receiver/Dockerfile
  conf/webhook-receiver/entrypoint.sh
  conf/webhook-receiver/requirements.txt
  conf/webhook-receiver/webhook-receiver.py
  env/webhook-receiver.example
  scripts/entrypoints/alertmanager.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/entrypoints/searxng.sh
Due: docker-compose-check, no-emoji-in-files

fix: update modular compose files with memory limits
  compose/ai.yml
  compose/monitoring.yml
Due: none

fix: secrets injection and infrastructure improvements
  .gitignore
  compose.yml
  scripts/entrypoints/openwebui.sh
  scripts/entrypoints/ragflow-adapter.sh
  scripts/entrypoints/webhook-receiver.sh
  services/ragflow-adapter/main.py
Due: docker-compose-check

feat(security): enable CodeQL, DAST, and Security Report jobs
  .github/workflows/security.yml
Due: none

fix: address CodeRabbit review feedback
  scripts/entrypoints/ragflow-adapter.sh
  scripts/entrypoints/webhook-receiver.sh
  services/ragflow-adapter/main.py
Due: none

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$

