Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ts-type-check:
  name: 'TypeScript: type check'
  entry: npm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docker-compose-check:
  name: 'Docker Compose: configuration validation'
  entry: docker compose config -q
  language: system
  pass_filenames: false

gofmt:
  name: 'Go: code formatting'
  entry: gofmt
  language: system
  args:
  - -w

status-snippet-check:
  name: 'Docs: validate status snippets'
  entry: python3 scripts/docs/update_status_snippet.py --check
  language: system
  pass_filenames: false

markdownlint-cli2:
  name: 'Docs: markdownlint'
  entry: npx markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.19.1

validate-docs-metadata:
  name: 'Docs: validate metadata'
  entry: python3 scripts/docs/validate_metadata.py
  language: system
  pass_filenames: false

forbid-numbered-copies:
  name: 'Docs: forbid numbered filename copies'
  entry: bash
  language: system
  args:
  - -c
  - "status=0\nfor f in \"$@\"; do\n  base=\"${f##*/}\"\n  if [[ \"$base\" =~ [[:space:]][0-9]+(\\.|$) ]]; then\n    echo \"Duplicate-style filename detected: $f\"\n    status=1\n  fi\ndone\nexit $status\n"

no-emoji-in-files:
  name: 'Docs: validate no emoji'
  entry: python3 scripts/validate-no-emoji.py
  language: system

fix: ignore missing yaml type stubs in mypy configuration
  mypy.ini
Due: none

fix: address additional test failures with safer field access and config
  conf/webhook-receiver/webhook_handler.py
  mypy.ini
  scripts/lib/logger.py
  scripts/maintenance/check_duplicate_basenames.py
Due: none

fix: correct test expectations for check_duplicates and AlertProcessor
  conf/webhook-receiver/webhook_handler.py
  scripts/maintenance/check_duplicate_basenames.py
Due: none

fix: stabilize webhook receivers and CI hooks
  .pre-commit-config.yaml
  auth/main_test.go
  conf/webhook-receiver/models.py
  conf/webhook-receiver/webhook-receiver.py
  conf/webhook-receiver/webhook_handler.py
  conf/webhook_receiver/__init__.py
  conf/webhook_receiver/webhook_handler.py
  mypy.ini
  scripts/maintenance/check_duplicate_basenames.py
  tests/python/test_check_duplicate_basenames.py
  tests/python/test_logger.py
  tests/python/test_webhook_handler.py
  tests/python/test_webhook_receiver.py
Due: gofmt

chore: restore config samples for workflow checks
  .lychee.toml
  .nvmrc
  Makefile
  conf/alertmanager/alertmanager.yml.example
  conf/loki/loki-config.example.yaml
  conf/redis/redis.conf.example
  scripts/functions/env-validator.sh
Due: none

fix(auth): add validateSecrets for tests and lint
  auth/main.go
Due: gofmt

chore: gate language check and refresh snippets
  .husky/pre-commit
  docs/reference/status-snippet.md
  package.json
  tests/python/test_docs_scripts_additional.py
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: fix broken links, add nav entries, and add code standards/news
  docs/deployment/production-checklist.md
  docs/development/setup-guide.md
  docs/development/testing-guide.md
  docs/examples/api-usage-rest.md
  docs/news/2025-11-erni-ki-status-page-launch.md
  docs/reference/service-versions.md
  mkdocs.yml
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: add context engineering guide and update prompting 101
  docs/academy/context-engineering-101.md
  docs/academy/index.md
  docs/academy/prompting-101.md
  mkdocs.yml
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: fix status snippets and nav warnings
  .husky/pre-commit
  .pre-commit-config.yaml
  docs/data/index.md
  docs/de/reference/status-snippet.md
  docs/en/archive/audits/index.md
  docs/en/examples/api-usage-rest.md
  docs/en/examples/index.md
  docs/en/examples/nginx-examples.md
  docs/en/reference/CHANGELOG.md
  docs/en/reference/NO-EMOJI-POLICY.md
  docs/en/reference/api-reference.md
  docs/en/reference/development.md
  docs/en/reference/documentation-maintenance-strategy.md
  docs/en/reference/documentation-refactoring-plan.md
  docs/en/reference/emoji-style-guide.md
  docs/en/reference/github-environments-setup.md
  docs/en/reference/index.md
  docs/en/reference/language-policy.md
  docs/en/reference/mcpo-integration-guide.md
  docs/en/reference/metadata-standards.md
  docs/en/reference/non-root-containers-plan.md
  docs/en/reference/pre-commit-hooks.md
  docs/en/reference/service-versions.md
  docs/en/reference/style-guide.md
  docs/en/reference/webhook-api.md
  docs/news/2025-11-erni-ki-status-page-launch.md
  docs/quality/code-standards.md
  docs/reference/index.md
  docs/reference/metadata-standards.md
  docs/reference/status-snippet.md
  mkdocs.yml
  package.json
  scripts/docs/update_status_snippet.py
  scripts/docs/update_status_snippet_v2.py
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: add context engineering and expand prompting
  docs/academy/context-engineering-101.md
  docs/academy/prompting-101.md
  docs/de/academy/context-engineering-101.md
  docs/en/academy/context-engineering-101.md
  docs/en/reference/api-reference.md
  docs/en/reference/mcpo-integration-guide.md
  mkdocs.yml
  scripts/docs/update_status_snippet.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: harden workflows and fix howto nav
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  mkdocs.yml
Due: none

ci: stabilize codecov and mypy setup
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

ci: fix codecov token condition
  .github/workflows/ci.yml
Due: none

fix: satisfy mypy on webhook client and exporter
  docs/examples/webhook-client-python.py
  ops/ollama-exporter/app.py
Due: forbid-numbered-copies

docs: update mcpo guide, context 101, and contribution rules
  CONTRIBUTING.md
  docs/en/academy/context-engineering-101.md
  docs/en/reference/mcpo-integration-guide.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: raise coverage target and add security scanners
  .github/workflows/ci.yml
  .github/workflows/security.yml
  tests/python/test_exporters.py
  tests/python/test_webhook_client.py
Due: none

test: add rag exporter and webhook client coverage
  tests/python/test_rag_exporter.py
Due: none

ci: mark trusted subprocess/bindings for security lint
  conf/rag_exporter.py
  conf/webhook-receiver/services.py
  conf/webhook-receiver/webhook-receiver.py
  conf/webhook-receiver/webhook_handler.py
  scripts/docs/update_status_snippet_v2.py
  scripts/maintenance/check_duplicate_basenames.py
Due: none

ci: silence bandit warnings for trusted bindings
  conf/webhook-receiver/webhook_handler.py
  scripts/docs/update_status_snippet_v2.py
  tests/python/test_exporters.py
  tests/python/test_webhook_client.py
Due: none

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$

