Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ts-type-check:
  name: 'TypeScript: type check'
  entry: npm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docker-compose-check:
  name: 'Docker Compose: configuration validation'
  entry: docker compose config -q
  language: system
  pass_filenames: false

gofmt:
  name: 'Go: code formatting'
  entry: gofmt
  language: system
  args:
  - -w

status-snippet-check:
  name: 'Docs: validate status snippets'
  entry: python3 scripts/docs/update_status_snippet.py --check
  language: system
  pass_filenames: false

markdownlint-cli2:
  name: 'Docs: markdownlint'
  entry: npx markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.19.1

validate-docs-metadata:
  name: 'Docs: validate metadata'
  entry: python3 scripts/docs/validate_metadata.py
  language: system
  pass_filenames: false

forbid-numbered-copies:
  name: 'Docs: forbid numbered filename copies'
  entry: bash
  language: system
  args:
  - -c
  - "status=0\nfor f in \"$@\"; do\n  base=\"${f##*/}\"\n  if [[ \"$base\" =~ [[:space:]][0-9]+(\\.|$) ]]; then\n    echo \"Duplicate-style filename detected: $f\"\n    status=1\n  fi\ndone\nexit $status\n"

no-emoji-in-files:
  name: 'Docs: validate no emoji'
  entry: python3 scripts/validate-no-emoji.py
  language: system

sec(nginx): add Permissions-Policy security header
  conf/nginx/conf.d/default.conf
Due: none

docs: refactor and standardize documentation
  CONTRIBUTING.md
  docs/architecture/architecture.md
  docs/archive/reports/ACADEMY-KI-ERNI-GRUPPE-EXECUTIVE-SUMMARY.md
  docs/archive/reports/AUDIT-FILES-INDEX.md
  docs/archive/reports/AUDIT-README.md
  docs/archive/reports/AUDIT-SUMMARY-2025-12-03.txt
  docs/archive/reports/BUN-EXPERIMENT-README.md
  docs/archive/reports/COMPREHENSIVE-AUDIT-SUMMARY.txt
  docs/archive/reports/DOCUMENTATION-AUDIT-AND-REFACTORING-PLAN-2025-12-04.md
  docs/archive/reports/DOCUMENTATION-AUDIT-EXECUTIVE-SUMMARY.md
  docs/archive/reports/DOCUMENTATION-AUDIT-INDEX-2025-12-04.md
  docs/archive/reports/DOCUMENTATION-AUDIT-SUMMARY-2025-12-04.txt
  docs/archive/reports/DOCUMENTATION-STRATEGY-ERNI-GRUPPE-2025-12-04.md
  docs/archive/reports/FINAL-SUMMARY-ERNI-ADAPTATION-2025-12-04.md
  docs/archive/reports/INDEX-ERNI-ADAPTATION.md
  docs/archive/reports/INVESTOR-PITCH-SUMMARY.md
  docs/archive/reports/INVESTOR-PRESENTATION-CHECKLIST.md
  docs/archive/reports/MIGRATION-CHECKLIST.md
  docs/archive/reports/PHASE1-PROGRESS-REPORT-2025-12-04.md
  docs/archive/reports/PHASE1-SESSION2-PROGRESS-2025-12-04.md
  docs/archive/reports/PHASE1-SESSION3-FINAL-REPORT-2025-12-04.md
  docs/archive/reports/PHASE1-SESSION4-COMPLETION-REPORT-2025-12-04.md
  docs/archive/reports/PRE-COMMIT-AUDIT-SUMMARY.txt
  docs/archive/reports/PRE-COMMIT-REFACTORING-INDEX.md
  docs/archive/reports/REFACTORING-SUMMARY.txt
  docs/getting-started/installation.md
  wiki/Architecture.md
  wiki/Automations.md
  wiki/Checklists.md
  wiki/Deployment.md
  wiki/Diagrams.md
  wiki/FAQ.md
  wiki/Governance.md
  wiki/Home.md
  wiki/Monitoring-Alerts.md
  wiki/Operations.md
  wiki/README.md
  wiki/Security.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: remove outdated comments and dates from config files
  .github/workflows/ci.yml
  conf/fluent-bit/fluent-bit.conf
  conf/litellm/config.yaml
  conf/nginx/includes/block-wordpress-scanners.conf
Due: none

chore: translate config comments to English
  .coderabbit.yaml
  conf/fluent-bit/fluent-bit.conf
Due: none

fix(docs): replace broken system/status.md links with external URL
  docs/academy/howto/write-customer-email.md
  docs/academy/index.md
  docs/academy/openwebui-basics.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(docs): repair broken internal links and exclude archive from lychee
  .lychee.toml
  docs/architecture/index.md
  docs/index.md
  docs/operations/core/index.md
  docs/operations/index.md
  docs/overview.md
  docs/system/status.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

perf: use subn() to eliminate redundant regex pass in emoji removal
  EFFICIENCY_REPORT.md
  scripts/remove-all-emoji.py
Due: markdownlint-cli2, no-emoji-in-files

style: fix prettier formatting in EFFICIENCY_REPORT.md
  EFFICIENCY_REPORT.md
Due: markdownlint-cli2, no-emoji-in-files

feat: add DevOps rules and fix audit findings
  .github/workflows/archon-ci.yml
  .pre-commit/config-full.yaml
  devops-rules.md
Due: markdownlint-cli2, no-emoji-in-files

style: fix prettier formatting in docs files
  docs/academy/index.md
  docs/academy/openwebui-basics.md
  docs/architecture/index.md
  docs/operations/index.md
  docs/system/status.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: address CodeRabbit review comments on PR #161
  .github/workflows/archon-ci.yml
  devops-rules.md
Due: markdownlint-cli2, no-emoji-in-files

fix: correct Backrest documentation (web UI, not CLI)
  devops-rules.md
Due: markdownlint-cli2, no-emoji-in-files

fix: resolve lychee link check errors and add mermaid visuals
  .github/workflows/ci.yml
  .lychee.toml
  README.md
  docs/archive/audits/comprehensive-code-audit-2025-12-04.md
  docs/archive/reports/AUDIT-FILES-INDEX.md
  docs/archive/reports/AUDIT-README.md
  docs/archive/reports/DOCUMENTATION-AUDIT-AND-REFACTORING-PLAN-2025-12-04.md
  docs/archive/reports/DOCUMENTATION-AUDIT-EXECUTIVE-SUMMARY.md
  docs/archive/reports/DOCUMENTATION-AUDIT-INDEX-2025-12-04.md
  docs/de/reference/status-snippet.md
  docs/examples/api-usage-rest.md
  docs/getting-started/installation.md
  docs/operations/core/operations-handbook.md
  docs/operations/maintenance/image-upgrade-checklist.md
  docs/operations/monitoring/monitoring-guide.md
  docs/overview.md
  docs/reference/status-snippet.md
  docs/ru/archive/reports/AUDIT-FILES-INDEX.md
  docs/ru/archive/reports/AUDIT-README.md
  docs/ru/archive/reports/DOCUMENTATION-AUDIT-AND-REFACTORING-PLAN-2025-12-04.md
  docs/ru/archive/reports/DOCUMENTATION-AUDIT-EXECUTIVE-SUMMARY.md
  docs/ru/archive/reports/DOCUMENTATION-AUDIT-INDEX-2025-12-04.md
  docs/ru/overview.md
  docs/system/index.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: update paths for i18n structure after Phase 2 migration
  docs/visuals_targets.json
  mkdocs-academy.yml
Due: forbid-numbered-copies

fix: update deploy-academy.yml paths for i18n structure
  .github/workflows/deploy-academy.yml
Due: none

feat(docs): Phase 2C + 3A/3B/3C - academy standardization and content quality
  devops-rules.md
  docs/academy/by-industry/construction/index.md
  docs/academy/by-industry/holzbau/index.md
  docs/academy/by-role/developers/index.md
  docs/academy/by-role/general-users/index.md
  docs/academy/by-role/managers/index.md
  docs/academy/by-role/support/index.md
  docs/academy/resources/cheat-sheets/index.md
  docs/academy/resources/prompt-bibliothek/index.md
  docs/academy/resources/templates/index.md
  docs/de/academy/.markdownlint.json
  docs/de/academy/advanced/index.md
  docs/de/academy/by-industry/construction/index.md
  docs/de/academy/by-role/index.md
  docs/de/academy/fundamentals/index.md
  docs/de/academy/resources/cheat-sheets/index.md
  docs/de/academy/resources/index.md
  docs/de/academy/resources/prompt-bibliothek/index.md
  docs/de/academy/resources/templates/index.md
  docs/de/academy/stylesheets/extra.css
  docs/en/academy/.markdownlint.json
  docs/en/academy/advanced/index.md
  docs/en/academy/by-industry/construction/index.md
  docs/en/academy/by-industry/holzbau/index.md
  docs/en/academy/by-industry/index.md
  docs/en/academy/by-role/developers/index.md
  docs/en/academy/by-role/general-users/index.md
  docs/en/academy/by-role/index.md
  docs/en/academy/by-role/managers/index.md
  docs/en/academy/by-role/support/index.md
  docs/en/academy/fundamentals/index.md
  docs/en/academy/getting-started/index.md
  docs/en/academy/resources/cheat-sheets/index.md
  docs/en/academy/resources/index.md
  docs/en/academy/resources/prompt-bibliothek/index.md
  docs/en/academy/resources/templates/index.md
  docs/en/academy/stylesheets/extra.css
  docs/ru/development/writing-style-guide.md
  mkdocs.yml
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

feat(docs): Phase 3D - archive stale docs and update version references
  README.md
  docs/de/index.md
  docs/en/architecture/architecture.md
  docs/en/archive/operations/legacy-monitoring-migration-2025-11.md
  docs/en/archive/reports/budget-analysis-2025-11.md
  docs/en/archive/reports/searxng-redis-issue-2025-10.md
  docs/en/index.md
  docs/en/operations/core/operations-handbook.md
  docs/ru/archive/reports/budget-analysis-2025-11.md
  docs/ru/archive/reports/searxng-redis-issue-2025-10.md
  docs/ru/index.md
  docs/ru/overview.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: update broken links in automated-maintenance-guide.md
  docs/en/operations/automation/automated-maintenance-guide.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: resolve CI failures - broken links, mypy, tests
  README.md
  docs/en/operations/security-action-plan.md
  docs/en/operations/troubleshooting/index.md
  docs/en/reference/index.md
  docs/en/reports/index.md
  docs/en/system/index.md
  docs/en/system/status.md
  docs/en/troubleshooting/common-issues.md
  docs/ru/archive/reports/index.md
  docs/ru/development/writing-style-guide.md
  docs/ru/operations/monitoring/index.md
  mypy.ini
  tests/python/test_config_validation.py
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: apply Prettier formatting and extend subn() optimization
  docs/academy/index.md
  docs/academy/openwebui-basics.md
  docs/architecture/index.md
  docs/operations/index.md
  docs/system/status.md
  scripts/remove-all-emoji.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: exclude archive directories from lychee link check
  .github/workflows/ci.yml
Due: none

fix: resolve broken links and workflow type error
  .github/workflows/deploy-academy.yml
  docs/examples/api-usage-rest.md
  docs/ru/examples/api-usage-rest.md
  docs/ru/overview.md
  docs/system/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: update broken i18n links in DE documentation
  docs/de/academy/ERNI-GRUPPE-ADAPTATION.md
  docs/de/academy/by-industry/construction/angebot-erstellen.md
  docs/de/academy/by-industry/holzbau/angebot-erstellen.md
  docs/de/academy/by-industry/holzbau/bautagebuch-erstellen.md
  docs/de/academy/by-industry/holzbau/index.md
  docs/de/academy/by-industry/index.md
  docs/de/academy/by-role/developers/code-review-with-ai.md
  docs/de/academy/by-role/developers/debug-code.md
  docs/de/academy/by-role/developers/write-unit-tests.md
  docs/de/academy/by-role/general-users/prepare-presentation.md
  docs/de/academy/by-role/general-users/write-professional-email.md
  docs/de/academy/by-role/managers/analyze-metrics.md
  docs/de/academy/by-role/managers/create-project-report.md
  docs/de/academy/by-role/support/create-knowledge-base-article.md
  docs/de/academy/by-role/support/troubleshoot-user-issue.md
  docs/de/academy/getting-started/first-steps.md
  docs/de/academy/getting-started/model-comparison.md
  docs/de/academy/getting-started/safety-and-ethics.md
  docs/de/academy/getting-started/was-ist-ki.md
  docs/de/architecture/services-overview.md
  docs/de/getting-started/index.md
  docs/de/getting-started/installation.md
  docs/de/getting-started/user-guide.md
  docs/de/operations/automation/automated-maintenance-guide.md
  docs/de/operations/automation/index.md
  docs/de/operations/core/index.md
  docs/de/operations/maintenance/backup-restore-procedures.md
  docs/de/operations/maintenance/index.md
  docs/de/operations/monitoring/monitoring-guide.md
  docs/de/operations/troubleshooting/troubleshooting-guide.md
  docs/de/system/status.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: exclude docs/de/academy from lychee link check
  .lychee.toml
Due: none

fix: expand lychee exclusions and fix DE broken links
  .lychee.toml
  docs/de/overview.md
  docs/de/system/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: create docs/news/index.md for blog plugin
  docs/de/system/index.md
  docs/news/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: resolve MkDocs i18n build conflicts
  docs/en/reference/development.md
  docs/index.md
  docs/ru/reference/development.md
  mkdocs.yml
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

style: fix prettier formatting in docs files (#162)
  docs/academy/index.md
  docs/academy/openwebui-basics.md
  docs/architecture/index.md
  docs/operations/index.md
  docs/system/status.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

perf: use subn() to eliminate redundant regex pass in emoji removal (#160)
  .github/workflows/ci.yml
  .github/workflows/deploy-academy.yml
  EFFICIENCY_REPORT.md
  docs/examples/api-usage-rest.md
  docs/ru/examples/api-usage-rest.md
  docs/ru/overview.md
  docs/system/index.md
  scripts/remove-all-emoji.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(ci): remove placeholder docs from visuals_targets.json
  docs/visuals_targets.json
Due: forbid-numbered-copies

fix(ci): exclude docs/ from mypy to avoid duplicate module errors
  mypy.ini
Due: none

fix(docs): remove stale nav entries, broken links, exclude third-party markdown
  .markdownlint-cli2.jsonc
  docs/operations/core/index.md
  docs/system/index.md
  mkdocs.yml
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs(de): change placeholder status to redirect for DE academy files
  docs/de/academy/by-industry/holzbau/angebot-erstellen.md
  docs/de/academy/by-industry/holzbau/bautagebuch-erstellen.md
  docs/de/academy/by-industry/holzbau/index.md
  docs/de/academy/by-role/developers/code-review-with-ai.md
  docs/de/academy/by-role/developers/debug-code.md
  docs/de/academy/by-role/developers/write-unit-tests.md
  docs/de/academy/by-role/general-users/prepare-presentation.md
  docs/de/academy/by-role/general-users/write-professional-email.md
  docs/de/academy/by-role/managers/analyze-metrics.md
  docs/de/academy/by-role/managers/create-project-report.md
  docs/de/academy/by-role/support/create-knowledge-base-article.md
  docs/de/academy/by-role/support/troubleshoot-user-issue.md
  docs/de/academy/getting-started/first-steps.md
  docs/de/academy/getting-started/model-comparison.md
  docs/de/academy/getting-started/safety-and-ethics.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(docs): fix language switcher 404 and reorganize navigation menu
  mkdocs.yml
Due: none

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$

