Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, goimports, status-snippet-check, validate-docs-metadata

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  validate-docs-metadata: any of: ^docs/.*\.md$

docs: add comprehensive system audit and security action plan
  docs/operations/security-action-plan.md
  docs/reports/comprehensive-system-audit-2025-11-27.md
  docs/reports/index.md
  docs/reports/system-audit-summary-2025-11-27.md
Due: validate-docs-metadata

feat(docs): translate Academy KI documentation to German
  docs/de/academy/howto/create-jira-ticket.md
  docs/de/academy/howto/summarize-meeting-notes.md
  docs/de/academy/howto/write-customer-email.md
  docs/de/academy/index.md
  docs/de/academy/news/2025-01-release-x.md
  docs/de/academy/news/index.md
  docs/de/academy/openwebui-basics.md
  docs/de/academy/prompting-101.md
Due: validate-docs-metadata

chore: bump litellm to v1.80.0-stable.1
  compose.yml
Due: docker-compose-check

docs: add service version matrix 2025-11-28
  docs/archive/audits/index.md
  docs/archive/audits/service-version-matrix-2025-11-28.md
  scripts/archon/README.md
  scripts/archon/get-projects.sh
  scripts/archon/get-tasks.sh
  scripts/archon/search-kb.sh
Due: validate-docs-metadata

chore: add coderabbit config
  .coderabbit.yaml
Due: none

chore: fix coderabbit config schema
  .coderabbit.yaml
Due: none

chore: update openwebui to v0.6.40
  compose.yml
  docs/archive/audits/README.md
  docs/data/README.md
  docs/reference/CHANGELOG.md
Due: docker-compose-check, validate-docs-metadata

Merge pull request #57: Upgrade OpenWebUI to v0.6.40 and refresh changelog
  compose.yml
  docs/archive/audits/README.md
  docs/data/README.md
  docs/reference/CHANGELOG.md
Due: docker-compose-check, validate-docs-metadata

chore: upgrade monitoring stack (prometheus, grafana, loki, tika)
  compose.yml
  docs/reference/CHANGELOG.md
Due: docker-compose-check, validate-docs-metadata

fix: loki healthcheck and prometheus cron rule; silence grafana provisioning errors
  compose.yml
  conf/grafana/provisioning/alerting/.gitkeep
  conf/grafana/provisioning/plugins/.gitkeep
  conf/prometheus/alert_rules.yml
Due: docker-compose-check

chore: upgrade monitoring exporters and fluent-bit
  compose.yml
  docs/reference/CHANGELOG.md
Due: docker-compose-check, validate-docs-metadata

chore: refresh searxng and backrest images
  compose.yml
  docs/reference/CHANGELOG.md
Due: docker-compose-check, validate-docs-metadata

chore: upgrade ollama 0.13.0 and grafana 12.3.0
  compose.yml
  docs/reference/CHANGELOG.md
Due: docker-compose-check, validate-docs-metadata

chore: bump Flask and prometheus-client deps
  conf/webhook-receiver/requirements.txt
  ops/ollama-exporter/requirements.txt
Due: none

chore: align werkzeug with Flask 3.1.2
  conf/webhook-receiver/requirements.txt
Due: none

docs: record dependency updates
  docs/reference/CHANGELOG.md
Due: validate-docs-metadata

docs: refresh ru docs and add final verification report
  docs/VERSION.md
  docs/architecture/architecture.md
  docs/architecture/diagrams/deployment-diagram.md
  docs/architecture/services-overview.md
  docs/budget-analysis.md
  docs/getting-started/user-guide.md
  docs/index.md
  docs/operations/core/operations-handbook.md
  docs/overview.md
  docs/reference/status-snippet.md
  docs/reports/final-verification-2025-11-28.md
Due: status-snippet-check, validate-docs-metadata

docs: add front matter to status snippet
  docs/reference/status-snippet.md
Due: status-snippet-check, validate-docs-metadata

docs: refresh status snippet date
  docs/reference/status-snippet.md
Due: status-snippet-check, validate-docs-metadata

docs: sync en/ru getting-started and add status snippet
  docs/architecture/index.md
  docs/de/reference/status-snippet.md
  docs/en/architecture/index.md
  docs/en/getting-started/configuration-guide.md
  docs/en/getting-started/dnsmasq-setup-instructions.md
  docs/en/getting-started/external-access-setup.md
  docs/en/getting-started/index.md
  docs/en/getting-started/installation.md
  docs/en/getting-started/local-network-dns-setup.md
  docs/en/getting-started/port-forwarding-setup.md
  docs/en/getting-started/user-guide.md
  docs/en/operations/index.md
  docs/getting-started/index.md
  docs/operations/index.md
Due: validate-docs-metadata

chore: fix alertmanager secrets and webhook port
  compose.yml
Due: docker-compose-check
