Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


chore: update Ollama env variables for stability
  compose.yml
Due: docker-compose-check

chore: mark legacy monitor and ignore artifacts
  .gitignore
  CHANGELOG.md
  docs/operations/monitoring/index.md
  docs/operations/monitoring/legacy-monitoring-scripts-migration.md
  env/health-monitor.env.example
  prompts/audit-report-ru.md
  prompts/audit-ru.md
  prompts/audit.md
  scripts/README.md
  scripts/core/diagnostics/health-check.sh
  scripts/docs/update_status_snippet.py
  scripts/erni-ki-health-check.sh
  scripts/health-monitor-v2.sh
  scripts/health-monitor.sh
  scripts/legacy/health-monitor.sh
  scripts/setup-monitoring.sh
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: align go/python toolchains and ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  auth/go.mod
  conf/rag_exporter.py
  docs/operations/core/status-page.md
  docs/operations/monitoring/legacy-monitoring-scripts-migration.md
  go.mod
  prompts/audit-report-ru.md
  prompts/audit-ru.md
  pyproject.toml
  requirements-dev.txt
  tests/python/test_docs_scripts_misc.py
  tests/python/test_ollama_exporter_app.py
  tests/python/test_rag_exporter.py
  tests/python/test_scripts_smoke.py
  tests/python/test_services.py
  tests/python/test_webhook_client.py
  tests/python/test_webhook_client_example.py
  tests/python/test_webhook_handler_negatives.py
  tests/python/test_webhook_receiver.py
  tests/python/test_webhook_receiver_signatures.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: fix goimports hook and ci python deps
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

chore: tidy auth module after go toolchain bump
  auth/go.mod
  auth/go.sum
Due: none

chore: align auth builder and default skip tests
  auth/Dockerfile
Due: none

chore: bump go to 1.24.10 and align builders
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  auth/Dockerfile
  auth/go.mod
  go.mod
Due: none

feat: add ragflow mcp bridge with user datasets
  conf/mcposerver/ragflow_mcp.py
  docs/reports/redis-comprehensive-analysis-2025-12-02.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: log dataset list errors in ragflow mcp
  conf/mcposerver/ragflow_mcp.py
Due: none

chore: sync workspace changes
  .vscode/settings.json
  README.md
  compose.yml
  conf/redis/users.acl
  env/health-monitor.example
  sample.pdf
  scripts/entrypoints/openwebui.sh
  scripts/entrypoints/searxng.sh
Due: docker-compose-check, status-snippet-check, markdownlint-cli2, no-emoji-in-files

fix: allow redis transactions for openwebui user
  conf/redis/users.acl
Due: none

fix: relax redis acl for openwebui searches
  conf/redis/users.acl
Due: none

chore: update ragflow endpoint and apply pre-commit
  docs/reports/erni-ki-comprehensive-analysis-2025-12-02.md
  scripts/functions/ragflow_pipe_improved.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: hide redis secrets in searxng entrypoint logs
  scripts/entrypoints/searxng.sh
Due: none

feat: add ragflow loader pipe and harden markdown lint
  docs/reports/erni-ki-comprehensive-analysis-2025-12-02.md
  scripts/functions/ragflow_loader_pipe.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore(deps): migrate tooling to bun
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lychee.toml
  .nvmrc
  .prettierignore
  BUN-EXPERIMENT-README.md
  MIGRATION-CHECKLIST.md
  bun.lock
  bunfig.toml
  docs/archive/audits/service-version-audit-2025-11-25.md
  docs/archive/incidents/docx-upload-fix-20251030.md
  docs/deployment/production-checklist.md
  docs/development/bun-migration.md
  docs/development/setup-guide.md
  docs/en/archive/audits/index.md
  docs/en/reference/service-versions.md
  docs/operations/ai/litellm-redis-caching.md
  docs/reference/service-versions.md
  docs/troubleshooting/common-issues.md
  eslint.config.js
  package-lock.json
  package.json
  scripts/prettier-run.sh
  scripts/run-playwright-mock.sh
  test-bun-native.ts
  test-bun-runner.test.ts
  test-bun-server.ts
  tests/utils/test-utils.ts
Due: ts-type-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore(config): single source for python dev deps
  package.json
  pyproject.toml
Due: none

docs: note dev deps source of truth
  docs/development/setup-guide.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: switch workflows to bun
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

docs: update guides for bun and litellm redis status
  docs/de/reference/development.md
  docs/de/reference/language-policy.md
  docs/de/reference/pre-commit-hooks.md
  docs/deployment/production-checklist.md
  docs/development/testing-guide.md
  docs/en/reference/development.md
  docs/en/reference/language-policy.md
  docs/en/reference/pre-commit-hooks.md
  docs/operations/ai/litellm-redis-caching.md
  docs/reference/development.md
  docs/reference/language-policy.md
  docs/reference/pre-commit-hooks.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files
