Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


ci: fix security workflow bun audit artifact
  .github/workflows/security.yml
Due: none

chore(deps): bump go to 1.24.11
  auth/go.mod
  go.mod
Due: none

config: align bun runtime checks
  auth/Dockerfile
  docs/development/bun-migration.md
  tests/python/test_config_validation.py
  tests/unit/test-ci-validation.test.ts
Due: ts-type-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

config: drop codecov uploads and cleanup
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: markdownlint-cli2, no-emoji-in-files

chore(deps): tidy auth module
  auth/go.mod
Due: none

ci: harden nightly audit permissions
  .github/workflows/nightly-audit.yml
Due: none

docs: fix link checker errors with placeholders
  docs/deployment/production-checklist.md
  docs/development/setup-guide.md
  docs/development/testing-guide.md
  docs/en/deployment/production-checklist.md
  docs/en/development/setup-guide.md
  docs/en/examples/api-usage-rest.md
  docs/en/operations/maintenance/image-upgrade-checklist.md
  docs/en/operations/monitoring/grafana-dashboards-guide.md
  docs/en/operations/monitoring/monitoring-guide.md
  docs/en/operations/monitoring/prometheus-queries-reference.md
  docs/en/reference/service-versions.md
  docs/en/reference/status.yml
  docs/operations/ai/litellm-redis-caching.md
  docs/reference/service-versions.md
  docs/reports/compose.yml
  docs/reports/conf/litellm/config.yaml
  docs/reports/conf/prometheus/rules/redis-alerts.yml
  docs/reports/conf/redis/redis.conf
  docs/reports/conf/redis/users.acl
  docs/reports/conf/searxng/settings.yml
  docs/reports/scripts/entrypoints/searxng.sh
  docs/troubleshooting/common-issues.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: fix remaining link checker 404s
  docs/en/reference/service-versions.md
  docs/operations/ai/litellm-redis-caching.md
  docs/reference/service-versions.md
  docs/reports/erni-ki-comprehensive-analysis-2025-12-02.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: apply coderabbit review fixes
  .github/workflows/release.yml
  .pre-commit-config.yaml
  compose.yml
  conf/mcposerver/ragflow_mcp.py
  conf/rag_exporter.py
  docs/deployment/production-checklist.md
  docs/operations/ai/litellm-redis-caching.md
  docs/reports/scripts/entrypoints/searxng.sh
  prompts/audit.md
  scripts/core/diagnostics/health-check.sh
  scripts/entrypoints/openwebui.sh
  scripts/erni-ki-health-check.sh
  scripts/functions/ragflow_loader_pipe.py
  scripts/functions/ragflow_pipe_improved.py
  scripts/setup-monitoring.sh
  test-bun-server.ts
Due: ts-type-check, docker-compose-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: address coderabbit review items
  .github/workflows/release.yml
  compose.yml
  conf/mcposerver/ragflow_mcp.py
  conf/redis/users.acl
  scripts/entrypoints/openwebui.sh
Due: docker-compose-check

chore: remove emojis and rerun formatting
  BUN-EXPERIMENT-README.md
  MIGRATION-CHECKLIST.md
Due: markdownlint-cli2, no-emoji-in-files

fix: guard missing doc id before trigger_parse
  conf/mcposerver/ragflow_mcp.py
Due: none

ci: modernize lychee config for offline link check
  .lychee.toml
Due: none

chore: stabilize bun tests and add investor docs
  INVESTOR-PRESENTATION-CHECKLIST.md
  docs/INVESTOR-PITCH-SUMMARY.md
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
  tests/e2e/mock-openwebui.spec.ts
  tests/e2e/openwebui-rag.spec.ts
  tests/e2e/test-aktennotiz-upload.spec.ts
  tests/e2e/upload-test.spec.ts
  tests/setup.ts
  tests/unit/mock-env.test.ts
  tests/unit/test-utils.test.ts
Due: ts-type-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: refresh audit status and index
  AUDIT-FILES-INDEX.md
  AUDIT-SUMMARY-2025-12-03.txt
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: document compose build strategy, add audit frontmatter
  AUDIT-SUMMARY-2025-12-03.txt
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
  docs/deployment/production-checklist.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files
