Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, goimports, status-snippet-check, validate-docs-metadata

ts-type-check:
  name: 'TypeScript: type check'
  entry: npm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docker-compose-check:
  name: 'Docker Compose: configuration validation'
  entry: docker compose config -q
  language: system
  pass_filenames: false

gofmt:
  name: 'Go: code formatting'
  entry: gofmt
  language: system
  args:
  - -w

goimports:
  name: 'Go: organize imports'
  entry: /Users/kostas/go/bin/goimports
  language: system
  args:
  - -w

status-snippet-check:
  name: 'Docs: validate status snippets'
  entry: python3 scripts/docs/update_status_snippet.py --check
  language: system
  pass_filenames: false

validate-docs-metadata:
  name: 'Docs: validate metadata'
  entry: python3 scripts/docs/validate_metadata.py
  language: system
  pass_filenames: false

chore: fix pre-commit tooling and update docs snippets
  .pre-commit-config.yaml
  .secrets.baseline
  docs/archive/audits/README.md
  docs/de/reference/mcpo-integration-guide.md
  docs/de/reference/status-snippet.md
  docs/de/security/security-policy.md
  docs/overview.md
  docs/reference/status-snippet.md
  scripts/add-missing-frontmatter.py
  scripts/docs/translation_report.py
  scripts/docs/visuals_and_links_check.py
  scripts/fix-deprecated-metadata.py
Due: status-snippet-check, validate-docs-metadata

fix: address scanner findings and bump x/crypto
  auth/go.mod
  auth/go.sum
  tests/e2e/openwebui-rag.spec.ts
  tests/e2e/test-aktennotiz-upload.spec.ts
  tests/e2e/upload-test.spec.ts
Due: ts-type-check

chore(docs): refresh architecture diagrams and Cloudflare IP include
  .gitignore
  conf/nginx/includes/cloudflare-ips.conf
  conf/nginx/nginx.conf
  docs/architecture/architecture.md
  docs/de/architecture/architecture.md
  docs/en/architecture/architecture.md
Due: validate-docs-metadata

chore: configure linters and add code audits
  .vscode/LINTERS.md
  .vscode/extensions.json
  .vscode/settings.json
  docs/archive/audits/README.md
  docs/archive/audits/code-audit-2025-11-24.md
  docs/reference/code-audit-summary-2025-11-24.md
  docs/reference/documentation-update-plan-2025-11-24.md
  package.json
  requirements-dev.txt
Due: validate-docs-metadata

docs: add budget analysis in RU, DE, EN
  docs/budget-analysis.md
  docs/de/budget-analysis.md
  docs/en/budget-analysis.md
Due: validate-docs-metadata

chore: fix pre-commit issues and add budget analysis docs
  docs/budget-analysis.md
  docs/de/budget-analysis.md
  docs/en/budget-analysis.md
  docs/reference/documentation-update-plan-2025-11-24.md
  scripts/docs/translation_report.py
  scripts/docs/visuals_and_links_check.py
Due: validate-docs-metadata

chore(tests): add type hints and unit tests for docs scripts
  tests/python/test_docs_scripts.py
Due: none

fix: make Python linting work without virtual environment
  package.json
Due: none

refactor(nginx): translate Russian comments to English
  conf/nginx/conf.d/default.conf
Due: none

docs(monitoring): add explicit versions for monitoring stack components
  docs/de/operations/monitoring/monitoring-guide.md
Due: validate-docs-metadata

refactor(config): remove unused vLLM secret configuration
  compose.yml
  secrets/README.md
Due: docker-compose-check

docs(auth): add OpenAPI 3.0 specification for Auth Service
  docs/api/README.md
  docs/api/auth-service-openapi.yaml
Due: validate-docs-metadata

docs: add LiteLLM Redis caching documentation
  .github/workflows/ci.yml
  .github/workflows/deploy-environments.yml
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  docs/api/README.md
  docs/api/auth-service-openapi.yaml
  docs/architecture/service-inventory.md
  docs/operations/ai/litellm-redis-caching.md
Due: validate-docs-metadata

docs: mark redis secrets as placeholders
  docs/operations/ai/litellm-redis-caching.md
Due: validate-docs-metadata

ci: fix pages deploy concurrency
  .github/workflows/docs-deploy.yml
Due: none

chore: guard against Finder-style numbered copies
  .pre-commit-config.yaml
Due: none

chore: speed up inline-task check and skip coverage in cleanup
  .pre-commit-config.yaml
Due: none

ci: add docs build and link check job
  .github/workflows/ci.yml
Due: none

docs: add fast pre-commit guidance
  CONTRIBUTING.md
Due: none

chore: align Node toolchain and stabilize lockfile
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  validate-docs-metadata: any of: ^docs/.*\.md$
