Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ts-type-check:
  name: 'TypeScript: type check'
  entry: npm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docker-compose-check:
  name: 'Docker Compose: configuration validation'
  entry: docker compose config -q
  language: system
  pass_filenames: false

gofmt:
  name: 'Go: code formatting'
  entry: gofmt
  language: system
  args:
  - -w

status-snippet-check:
  name: 'Docs: validate status snippets'
  entry: python3 scripts/docs/update_status_snippet.py --check
  language: system
  pass_filenames: false

markdownlint-cli2:
  name: 'Docs: markdownlint'
  entry: npx markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.19.1

validate-docs-metadata:
  name: 'Docs: validate metadata'
  entry: python3 scripts/docs/validate_metadata.py
  language: system
  pass_filenames: false

forbid-numbered-copies:
  name: 'Docs: forbid numbered filename copies'
  entry: bash
  language: system
  args:
  - -c
  - "status=0\nfor f in \"$@\"; do\n  base=\"${f##*/}\"\n  if [[ \"$base\" =~ [[:space:]][0-9]+(\\.|$) ]]; then\n    echo \"Duplicate-style filename detected: $f\"\n    status=1\n  fi\ndone\nexit $status\n"

no-emoji-in-files:
  name: 'Docs: validate no emoji'
  entry: python3 scripts/validate-no-emoji.py
  language: system

chore(ci): publish vitest coverage artifact and badge
  .github/workflows/ci.yml
  README.md
Due: status-snippet-check, markdownlint-cli2, no-emoji-in-files

docs: add TODO/FIXME triage report
  docs/reports/todo-fixme-triage-2025-12-03.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: prune old audits and update security landing
  docs/archive/audits/best-practices-audit-2025-10-20.md
  docs/archive/audits/code-audit-2025-11-24.md
  docs/archive/audits/code-audit-2025-11-28.md
  docs/archive/audits/comprehensive-audit-2025-10-14.md
  docs/archive/audits/comprehensive-documentation-audit-2025-11-24.md
  docs/archive/audits/comprehensive-documentation-audit-2025-11-25.md
  docs/archive/audits/comprehensive-project-audit-2025-10-17.md
  docs/archive/audits/configuration-audit-report-2025-11-25.md
  docs/archive/audits/documentation-audit-2025-10-24.md
  docs/archive/audits/documentation-cleanup-2025-11-28.md
  docs/archive/audits/documentation-cleanup-audit-2025-10-24.md
  docs/archive/audits/documentation-cleanup-summary-2025-10-24.md
  docs/archive/audits/documentation-refactoring-audit-2025-11-24.md
  docs/archive/audits/scripts-reorganization-2025-11-28.md
  docs/archive/audits/service-version-audit-2025-11-25.md
  docs/archive/audits/service-version-matrix-2025-11-25.md
  docs/en/security/index.md
  docs/reports/audit-report-2025-11-27.txt
  docs/reports/audit-report-2025-11-28.txt
  docs/reports/comprehensive-audit-2025-11-28.md
  docs/reports/comprehensive-documentation-audit-2025-11-27.md
  docs/reports/comprehensive-master-audit-2025-11-27.md
  docs/reports/comprehensive-system-audit-2025-11-27.md
  docs/reports/final-verification-2025-11-28.md
  docs/reports/follow-up-audit-2025-11-28.md
  docs/reports/system-audit-summary-2025-11-27.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: fix broken audit/report links and offline docs reference
  docs/archive/audits/index.md
  docs/operations/security-action-plan.md
  docs/reports/index.md
  docs/troubleshooting/common-issues.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: add frontmatter to investor summary and todo triage
  docs/INVESTOR-PITCH-SUMMARY.md
  docs/reports/todo-fixme-triage-2025-12-03.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: replace links to removed system audit
  docs/operations/security-action-plan.md
  docs/security/secrets-audit-2025-11-27.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: fix docs links, metadata, and lint errors
  .secrets.baseline
  AUDIT-FILES-INDEX.md
  AUDIT-SUMMARY-2025-12-03.txt
  INVESTOR-PRESENTATION-CHECKLIST.md
  README.md
  docs/INVESTOR-PITCH-SUMMARY.md
  docs/archive/audits/README.md
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
  docs/development/PROJECT-RULES-SUMMARY.md
  docs/development/RULES-FLOWCHART.md
  docs/development/pre-commit-guide.md
  docs/reports/todo-fixme-triage-2025-12-03.md
  scripts/functions/ragflow_loader_pipe.py
  tests/setup.ts
Due: ts-type-check, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore(lint): apply pre-commit phase1 quick wins
  PRE-COMMIT-REFACTORING-INDEX.md
  REFACTORING-SUMMARY.txt
  docs/development/PHASE1-QUICK-WINS.md
  docs/development/PRE-COMMIT-INDEX.md
  docs/development/PRE-COMMIT-REFACTORING-PLAN.md
  docs/development/REFACTORING-SUMMARY.md
  package.json
  scripts/functions/ragflow_loader_pipe.py
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore(lint): simplify pre-commit pipeline
  .husky/pre-commit
  .pre-commit-config.yaml
Due: none

chore(lint): add fast pre-commit profile
  .pre-commit-config.yaml
  .pre-commit/config-fast.yaml
  package.json
Due: none

chore(lint): finalize pre-commit profiles
  .pre-commit/config-docs.yaml
  .pre-commit/config-full.yaml
  .pre-commit/config-security.yaml
  PRE-COMMIT-REFACTORING-INDEX.md
  bun.lock
  docs/development/PRE-COMMIT-INDEX.md
  docs/development/REFACTORING-SUMMARY.md
  docs/development/pre-commit-guide.md
  package.json
  scripts/pre-commit/monitor-performance.sh
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore(docs): fix lychee link failures
  .github/workflows/nightly-audit.yml
  .lychee.toml
  docs/archive/audits/README.md
  docs/development/PROJECT-RULES-SUMMARY.md
  docs/development/setup-guide.md
  docs/development/testing-guide.md
  docs/en/getting-started/installation.md
  docs/getting-started/installation.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore(docs): fix mkdocs strict nav warnings
  docs/archive/audits/README.md
  mkdocs.yml
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

docs: add agent rules and audit summaries
  AGENT-RULES.md
  COMPREHENSIVE-AUDIT-SUMMARY.txt
  PRE-COMMIT-AUDIT-SUMMARY.txt
  docs/archive/audits/comprehensive-code-audit-2025-12-04.md
  docs/archive/audits/pre-commit-refactoring-audit-2025-12-03.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: harden redis/auth secrets and healthchecks
  .secrets.baseline
  auth/main.go
  compose.yml
  scripts/entrypoints/auth.sh
  scripts/entrypoints/searxng.sh
  scripts/entrypoints/watchtower.sh
Due: docker-compose-check, gofmt

chore: sync config and env templates
  .env.example
  .github/CODEOWNERS
  .github/dependabot.yml
  .gitignore
  .secrets.baseline
  auth/Dockerfile
  conf/webhook-receiver/Dockerfile
  docs/operations/core/github-governance.md
  env/alertmanager.example
  env/auth.example
  env/backrest.example
  env/cloudflared.example
  env/db.example
  env/docling.example
  env/edgetts.example
  env/grafana.example
  env/litellm.example
  env/mcposerver.example
  env/ollama.example
  env/openwebui.example
  env/postgres-exporter.example
  env/redis.example
  env/searxng.example
  env/tika.example
  env/uptime-kuma.example
  env/watchtower.example
  package.json
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: address review feedback for PR #101
  .pre-commit/config-full.yaml
  tests/e2e/upload-test.spec.ts
Due: ts-type-check

chore: sync config and docs metadata
  .checkov.yml
  .snyk
  BUN-EXPERIMENT-README.md
  compose.yml
  docs/AUDIT-FILES-INDEX.md
  docs/AUDIT-SUMMARY-2025-12-03.txt
  docs/BUN-EXPERIMENT-README.md
  docs/COMPREHENSIVE-AUDIT-SUMMARY.txt
  docs/INVESTOR-PRESENTATION-CHECKLIST.md
  docs/MIGRATION-CHECKLIST.md
  docs/PRE-COMMIT-AUDIT-SUMMARY.txt
  docs/PRE-COMMIT-REFACTORING-INDEX.md
  docs/REFACTORING-SUMMARY.txt
  scripts/lib/common.sh
Due: docker-compose-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: stabilize test env defaults
  bun.lock
  tests/unit/mock-env.test.ts
Due: ts-type-check

docs: fix internal links after move
  docs/AUDIT-FILES-INDEX.md
  docs/BUN-EXPERIMENT-README.md
  docs/MIGRATION-CHECKLIST.md
  docs/PRE-COMMIT-REFACTORING-INDEX.md
  docs/archive/audits/comprehensive-code-audit-2025-12-04.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: tighten logging defaults and drop root on postgres exporter
  compose.yml
Due: docker-compose-check

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$

