Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, goimports, status-snippet-check, validate-docs-metadata

ts-type-check:
  name: 'TypeScript: type check'
  entry: npm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docker-compose-check:
  name: 'Docker Compose: configuration validation'
  entry: docker compose config -q
  language: system
  pass_filenames: false

gofmt:
  name: 'Go: code formatting'
  entry: gofmt
  language: system
  args:
  - -w

goimports:
  name: 'Go: organize imports'
  entry: /Users/kostas/go/bin/goimports
  language: system
  args:
  - -w

status-snippet-check:
  name: 'Docs: validate status snippets'
  entry: python3 scripts/docs/update_status_snippet.py --check
  language: system
  pass_filenames: false

validate-docs-metadata:
  name: 'Docs: validate metadata'
  entry: python3 scripts/docs/validate_metadata.py
  language: system
  pass_filenames: false

fix: harden security policies in CI/CD
  .github/workflows/ci.yml
Due: none

fix: upgrade gosec to v2.22.10 to resolve go1.23 panic
  .github/workflows/ci.yml
Due: none

fix: update Go toolchain to 1.24.4 for gosec v2.22.10 compatibility
  .github/workflows/ci.yml
Due: none

feat: enhance CodeRabbit configuration with Russian language and comprehensive review settings
  .coderabbit.yaml
  language-policy.config.json
Due: none

fix: add -no-fail flag to gosec to handle SSA analyzer crashes gracefully
  .github/workflows/ci.yml
Due: none

fix: remove unsupported properties from CodeRabbit config (branches, triggers, ignore_drafts)
  .coderabbit.yaml
Due: none

chore: set version to 0.6.3 for initial release
  package.json
Due: none

chore: enable coderabbit on develop
  .coderabbit.yaml
  tests/python/test_logger.py
Due: none

fix: satisfy gocritic emptyStringTest in auth
  auth/main.go
  package.json
Due: gofmt, goimports

ci: fix trivy action inputs and skip-dirs
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

chore: align validate-documentation with CodeRabbit feedback
  scripts/docs/validate-documentation.py
Due: none

chore: avoid duplicate pipefail in shebang standardizer
  scripts/maintenance/cleanup-and-reorganize.sh
Due: none

chore: allow scripts/lib package for mypy
  .gitignore
  scripts/lib/__init__.py
Due: none

docs: sync ops placeholders and lint fixes
  docs/archive/cleanup/archive/audits/comprehensive-project-audit-2025-10-17-part2.md
  docs/en/operations/core/index.md
  docs/operations/automation/README.md
  docs/operations/maintenance/README.md
  scripts/docs/update_status_snippet_v2.py
  scripts/docs/validate-documentation.py
Due: validate-docs-metadata

fix: address CodeRabbit review (arch doc, shebangs, integration tests)
  Makefile.scripts
  docs/architecture/README.md
  docs/archive/audits/documentation-cleanup-audit-2025-10-24.md
  docs/archive/diagnostics/log-analysis-correction-2025-11-04.md
Due: validate-docs-metadata

chore: tidy codegen artifacts and sync tests
  .test-generation-summary.txt
  COMMIT_MESSAGE.txt
  TESTING_SUMMARY.md
  TEST_COVERAGE_REPORT.md
  auth/main_test.go
  scripts/docs/fix-broken-links.py
  scripts/docs/validate-documentation.py
  scripts/utilities/validate-tests.sh
  tests/integration/bats/test_docker_tags_validation.bats
  tests/integration/bats/test_nginx_healthcheck.bats
  tests/python/test_exporters.py
  tests/python/test_webhook_handler.py
  tests/python/test_webhook_receiver.py
  tests/unit/test-ci-validation.test.ts
  tests/unit/test-docker-tags-extended.test.ts
  tests/unit/test-language-check-extended.test.ts
  tests/unit/test-mock-env-extended.test.ts
Due: ts-type-check, gofmt, goimports

test: align extended checks with current tooling
  scripts/utilities/check-docker-tags.sh
  tests/unit/test-language-check-extended.test.ts
  tests/unit/test-mock-env-extended.test.ts
Due: ts-type-check

test: appease godot lint in auth tests
  auth/main_test.go
Due: gofmt, goimports

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  goimports: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  validate-docs-metadata: any of: ^docs/.*\.md$
