Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


test: enforce 80 coverage thresholds and codecov uploads
  .coveragerc
  .github/workflows/ci.yml
  auth/main.go
  auth/main_test.go
  codecov.yml
  requirements-dev.txt
  tests/python/test_update_status_snippet_v2_core.py
  tests/python/test_validate_metadata_additional.py
  tests/python/test_visuals_links_check_additional.py
Due: gofmt, no-emoji-in-files

test: fix vitest coverage reporting
  .coveragerc
  auth/main_test.go
  package.json
  tests/python/test_update_status_snippet_v2_core.py
  vitest.config.ts
Due: ts-type-check, gofmt

chore: fix ci coverage scripting and go lint
  .github/workflows/ci.yml
  .lychee.toml
  auth/main.go
  auth/main_test.go
  vitest.config.ts
Due: ts-type-check, gofmt

chore: align go lint expectations
  auth/main.go
  auth/main_test.go
Due: gofmt

chore: fix coverage checks and test deps
  .github/workflows/ci.yml
  auth/main.go
  auth/main_test.go
  tests/python/test_update_status_snippet_v2_core.py
  tests/python/test_visuals_links_check_additional.py
  tests/python/test_webhook_receiver.py
Due: gofmt

chore: address coderabbit notes
  codecov.yml
  package.json
Due: none

chore: harden secrets and stabilize monitoring
  .gitignore
  .pre-commit-config.yaml
  .pre-commit/config-full.yaml
  compose.yml
  conf/loki/loki-config.yaml
  conf/nginx/ssl/cyon-certificates/README.md
  conf/redis/users.acl
  conf/searxng/limiter.toml
  scripts/entrypoints/busybox
  scripts/entrypoints/cloudflared-with-secret.sh
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
  scripts/maintenance/renew-certs.sh
Due: docker-compose-check, markdownlint-cli2, no-emoji-in-files

chore: trim secrets in mcposerver and mount busybox
  compose.yml
  scripts/entrypoints/mcposerver-with-secrets.sh
Due: docker-compose-check

test: raise auth coverage above 80%
  auth/main.go
  auth/main_test.go
  coverage-summary.txt
  go.mod
Due: gofmt, no-emoji-in-files

chore: align loki/fluent-bit tls and harden entrypoint scripts
  conf/fluent-bit/fluent-bit.conf
  scripts/entrypoints/cloudflared-with-secret.sh
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/redis-exporter-with-secret.sh
Due: none

test: fix lint on auth tests
  auth/main_test.go
Due: gofmt

docs: add audit placeholders and fix metadata
  docs/INVESTOR-PITCH-SUMMARY.md
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: ignore bin and harden containers
  .gitignore
  auth/Dockerfile
  auth/main_test.go
  conf/Dockerfile.rag-exporter
  docs/AUDIT-FILES-INDEX.md
  docs/INVESTOR-PITCH-SUMMARY.md
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
Due: gofmt, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

ci: add explicit go build for codeql
  .github/workflows/security.yml
Due: none

chore: remove unused nolint directive
  auth/main.go
Due: gofmt

chore: clean secrets and entrypoints
  compose.yml
  conf/fluent-bit/fluent-bit.conf
  conf/nginx/conf.d/default.conf
  conf/nginx/healthcheck.sh
  scripts/audit_network_environment.py
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/watchtower.sh
  scripts/validate_networks.py
Due: docker-compose-check

chore: tighten compose security
  compose.yml
Due: docker-compose-check

chore: fix audit script and coverage step
  .github/workflows/ci.yml
  scripts/audit_network_environment.py
Due: none

chore: fix static analysis issues
  compose.yml
  conf/nginx/conf.d/default.conf
  scripts/audit_network_environment.py
  scripts/entrypoints/watchtower.sh
  scripts/validate_networks.py
Due: docker-compose-check

chore: fix watchtower entrypoint portability
  scripts/entrypoints/watchtower.sh
Due: none

fix: allow cloudflared token read
  compose.yml
  scripts/entrypoints/cloudflared-with-secret.sh
Due: docker-compose-check

fix: set up go before codeql init
  .github/workflows/security.yml
Due: none

chore: add placeholders for missing academy links
  docs/AUDIT-README.md
  docs/DOCUMENTATION-AUDIT-AND-REFACTORING-PLAN-2025-12-04.md
  docs/DOCUMENTATION-AUDIT-INDEX-2025-12-04.md
  docs/PHASE1-PROGRESS-REPORT-2025-12-04.md
  docs/PHASE1-SESSION2-PROGRESS-2025-12-04.md
  docs/PHASE1-SESSION3-FINAL-REPORT-2025-12-04.md
  docs/PHASE1-SESSION4-COMPLETION-REPORT-2025-12-04.md
  docs/academy/advanced/api-integration.md
  docs/academy/advanced/custom-workflows.md
  docs/academy/advanced/index.md
  docs/academy/by-industry/construction/maengelliste.md
  docs/academy/by-industry/holzbau/angebot-erstellen.md
  docs/academy/by-industry/holzbau/bautagebuch-erstellen.md
  docs/academy/by-role/developers/generate-documentation.md
  docs/academy/by-role/general-users/create-jira-ticket.md
  docs/academy/by-role/general-users/summarize-meeting-notes.md
  docs/academy/by-role/index.md
  docs/academy/fundamentals/model-selection-guide.md
  docs/academy/resources/cheat-sheets/index.md
  docs/academy/resources/glossar.md
  docs/academy/resources/index.md
  docs/academy/resources/prompt-bibliothek/index.md
  docs/academy/resources/sia-normen-uebersicht.md
  docs/academy/resources/templates/index.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: harden logging and auth validation
  auth/main.go
  auth/main_test.go
  conf/litellm/config.yaml
  conf/nginx/conf.d/default.conf
  conf/nginx/nginx.conf
Due: gofmt

docs: add github wiki content
  wiki/Architecture.md
  wiki/Checklists.md
  wiki/Deployment.md
  wiki/FAQ.md
  wiki/Home.md
  wiki/Monitoring-Alerts.md
  wiki/Operations.md
  wiki/README.md
  wiki/Security.md
Due: markdownlint-cli2, no-emoji-in-files

chore: restore searxng acl and clean litellm cache note
  conf/litellm/config.yaml
  conf/nginx/conf.d/default.conf
Due: none

docs: refresh wiki to current state
  wiki/Architecture.md
  wiki/Checklists.md
  wiki/Deployment.md
  wiki/Home.md
  wiki/Monitoring-Alerts.md
  wiki/Operations.md
  wiki/Security.md
Due: markdownlint-cli2, no-emoji-in-files

docs: add governance and align wiki with open tasks
  wiki/Architecture.md
  wiki/Deployment.md
  wiki/Governance.md
  wiki/Home.md
  wiki/Monitoring-Alerts.md
  wiki/Operations.md
  wiki/Security.md
Due: markdownlint-cli2, no-emoji-in-files

docs: add wiki diagrams and cross-links
  wiki/Architecture.md
  wiki/Diagrams.md
  wiki/Home.md
  wiki/Monitoring-Alerts.md
  wiki/Security.md
Due: markdownlint-cli2, no-emoji-in-files

docs: fix mermaid diagrams for github wiki
  wiki/Diagrams.md
Due: markdownlint-cli2, no-emoji-in-files

docs: replace wiki readme with maintainer guide
  wiki/README.md
Due: markdownlint-cli2, no-emoji-in-files

docs: simplify mermaid labels for github
  wiki/Diagrams.md
Due: markdownlint-cli2, no-emoji-in-files

chore: reduce verifyToken complexity
  auth/main.go
Due: gofmt

docs: add automations section to wiki
  wiki/Automations.md
  wiki/Home.md
Due: markdownlint-cli2, no-emoji-in-files

chore: add promtail logging pipeline
  compose.yml
  conf/promtail/promtail-config.yaml
  data/promtail/.gitkeep
  wiki/Automations.md
  wiki/Monitoring-Alerts.md
Due: docker-compose-check, markdownlint-cli2, no-emoji-in-files

chore: harden entrypoints and archon scripts
  scripts/archon/get-projects.sh
  scripts/archon/get-tasks.sh
  scripts/archon/search-kb.sh
  scripts/core/deployment/quick-start.sh
  scripts/core/deployment/setup.sh
  scripts/entrypoints/cloudflared-with-secret.sh
  scripts/entrypoints/mcposerver-with-secrets.sh
  scripts/entrypoints/watchtower.sh
Due: none

chore: add timeouts and strict mode to monitoring scripts
  scripts/infrastructure/monitoring/system-health-monitor.sh
  scripts/monitor-disk-space.sh
Due: none

docs: fix documentation audit links
  docs/DOCUMENTATION-AUDIT-AND-REFACTORING-PLAN-2025-12-04.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: add observability checks and contract smoke tests
  .github/workflows/ci.yml
  .github/workflows/deploy-environments.yml
  .github/workflows/security.yml
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  bun.lock
  docs/DOCUMENTATION-AUDIT-AND-REFACTORING-PLAN-2025-12-04.md
  docs/FINAL-SUMMARY-ERNI-ADAPTATION-2025-12-04.md
  docs/INDEX-ERNI-ADAPTATION.md
  docs/academy/ERNI-GRUPPE-IMPLEMENTATION-SUMMARY.md
  docs/academy/fundamentals/rag-basics.md
  docs/de/academy/ERNI-GRUPPE-ADAPTATION.md
  docs/de/academy/by-industry/construction/angebot-erstellen.md
  docs/de/academy/by-industry/index.md
  docs/de/academy/getting-started/was-ist-ki.md
  docs/development/PRE-COMMIT-INDEX.md
  docs/development/pre-commit-guide.md
  language-policy.config.json
  package.json
  scripts/core/deployment/setup.sh
  scripts/functions/ragflow_pipe_improved.py
  tests/contracts/auth.contract.test.ts
  tests/load/smoke-auth-rag.js
  tests/python/test_config_validation.py
  tests/python/test_webhook_client.py
  vitest.config.ts
Due: ts-type-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files
