Repository DIZ-admin/erni-ki: changes, and which pre-commit hooks are due for each by the changed paths.
All: ts-type-check, docker-compose-check, gofmt, status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

Path conditions:
  ts-type-check: any of: \.(ts|tsx)$
  docker-compose-check: any of: ^compose\.yml$
  gofmt: any of: \.go$
  status-snippet-check: any of: (?x)^(
  docs/reference/status\.yml|
  docs/reference/status-snippet\.md|
  docs/de/status-snippet\.md|
  docs/de/index\.md|
  docs/(index|overview)\.md|
  README\.md
)$

  markdownlint-cli2: any of: \.(md|markdown)$
  validate-docs-metadata: any of: ^docs/.*\.md$
  forbid-numbered-copies: any of: ^docs/.*$
  no-emoji-in-files: any of: \.(md|txt)$, but not: (?x)^(
  node_modules/.*|
  \.venv/.*|
  site/.*|
  data/.*|
  \.config-backup/.*
)$


docs: expand documentation maintenance strategy
  docs/reference/documentation-maintenance-strategy.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix: address failing tests and doc scripts
  conf/webhook-receiver/webhook_handler.py
  scripts/docs/check_archive_readmes.py
  scripts/docs/sync_versions.py
  scripts/lib/logger.py
  tests/python/test_docs_scripts_additional.py
Due: none

fix: ensure logger handlers honor updated stderr
  scripts/lib/logger.py
Due: none

fix(security): Phase 1 critical security hardening
  auth/main.go
  compose.yml
  conf/litellm/config.yaml
  conf/webhook-receiver/webhook-receiver.py
  conf/webhook-receiver/webhook_handler.py
  docs/architecture/architecture.md
  docs/archive/audits/comprehensive-project-audit-2025-10-17.md
  docs/archive/migrations/documentation-refactoring-plans/documentation-update-plan-2025-11-24.md
  docs/de/operations/database/redis-monitoring-grafana.md
  docs/de/operations/database/redis-operations-guide.md
  docs/de/operations/diagnostics/erni-ki-diagnostic-methodology.md
  docs/de/operations/maintenance/service-restart-procedures.md
  docs/de/operations/monitoring/monitoring-guide.md
  docs/de/operations/monitoring/prometheus-alerts-guide.md
  docs/de/operations/monitoring/searxng-redis-issue-analysis.md
  docs/de/operations/troubleshooting/troubleshooting-guide.md
  docs/operations/ai/litellm-redis-caching.md
  docs/operations/database/redis-monitoring-grafana.md
  docs/operations/database/redis-operations-guide.md
  docs/operations/diagnostics/erni-ki-diagnostic-methodology.md
  docs/operations/diagnostics/index.md
  docs/operations/maintenance/service-restart-procedures.md
  docs/operations/monitoring/monitoring-guide.md
  docs/operations/monitoring/prometheus-alerts-guide.md
  docs/operations/monitoring/searxng-redis-issue-analysis.md
  docs/operations/troubleshooting/troubleshooting-guide.md
  docs/reports/ARCHITECTURE_REVIEW.md
  docs/reports/DEPENDENCY_ANALYSIS.md
  docs/reports/DEVOPS_INFRASTRUCTURE_AUDIT.md
  docs/reports/DOCUMENTATION_AUDIT.md
  docs/reports/REMEDIATION_PRIORITY_MATRIX.md
  docs/reports/TESTING_COVERAGE_AUDIT.md
  docs/reports/comprehensive-audit-2025-11-28.md
  docs/reports/final-verification-2025-11-28.md
Due: docker-compose-check, gofmt, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

fix(security): Add input validation and rate limiting
  conf/webhook-receiver/webhook-receiver.py
  conf/webhook-receiver/webhook_handler.py
Due: none

ci(security): Add Python dependency vulnerability scanning
  .github/workflows/security.yml
Due: none

refactor(webhook): Consolidate duplicate webhook handlers using factory pattern
  conf/webhook-receiver/webhook-receiver.py
Due: none

chore: align local env with CI
  .nvmrc
  docs/reports/ENVIRONMENT_AUDIT.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

style: format documentation reports with Prettier
  docs/de/operations/monitoring/searxng-redis-issue-analysis.md
  docs/operations/monitoring/searxng-redis-issue-analysis.md
  docs/reports/ARCHITECTURE_REVIEW.md
  docs/reports/DEPENDENCY_ANALYSIS.md
  docs/reports/DEVOPS_INFRASTRUCTURE_AUDIT.md
  docs/reports/DOCUMENTATION_AUDIT.md
  docs/reports/DOCUMENTATION_DISCREPANCY_AUDIT.md
  docs/reports/ENVIRONMENT_AUDIT.md
  docs/reports/REMEDIATION_PRIORITY_MATRIX.md
  docs/reports/TESTING_COVERAGE_AUDIT.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

test: comprehensive webhook-receiver unit tests (Phase 1 Item 11)
  tests/python/test_webhook_receiver.py
Due: none

test: comprehensive webhook_handler unit tests (Phase 1 Item 12)
  tests/python/test_webhook_handler.py
Due: none

chore: fix language metadata
  docs/de/reference/status-snippet.md
  docs/reference/status-snippet.md
  docs/reports/ARCHITECTURE_REVIEW.md
  docs/reports/DEPENDENCY_ANALYSIS.md
  docs/reports/DEVOPS_INFRASTRUCTURE_AUDIT.md
  docs/reports/DOCUMENTATION_AUDIT.md
  docs/reports/REMEDIATION_PRIORITY_MATRIX.md
  docs/reports/TESTING_COVERAGE_AUDIT.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: add language front matter to status snippets
  docs/de/reference/status-snippet.md
  docs/reference/status-snippet.md
Due: status-snippet-check, markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

chore: format documentation discrepancy audit
  docs/reports/DOCUMENTATION_DISCREPANCY_AUDIT.md
Due: markdownlint-cli2, validate-docs-metadata, forbid-numbered-copies, no-emoji-in-files

test: stabilize doc scripts and logging
  conf/webhook-receiver/webhook_handler.py
  mypy.ini
  scripts/docs/check_archive_readmes.py
  scripts/docs/sync_versions.py
  scripts/lib/logger.py
  tests/python/test_docs_scripts_additional.py
Due: none

chore: make logger capture-friendly and relax mypy missing stubs
  mypy.ini
  scripts/lib/logger.py
Due: none

chore: mute mypy missing stubs for requests
  mypy.ini
Due: none

chore: align ci hooks and fix tests
  .pre-commit-config.yaml
  conf/webhook-receiver/webhook_handler.py
  scripts/docs/check_archive_readmes.py
  scripts/docs/content_lint.py
  scripts/docs/sync_versions.py
  scripts/lib/logger.py
Due: none

fix: narrow webhook notification error handling
  conf/webhook-receiver/webhook_handler.py
Due: none

fix: make webhook receiver importable in tests
  conf/webhook-receiver/webhook-receiver.py
  tests/python/conftest.py
  tests/python/test_webhook_receiver.py
Due: none
