Repository DIZ-admin/erni-ki: changes, and which Codecov flags are due for each by the changed paths.
All: python, golang, typescript

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 0.8
        threshold: 0.02
    patch:
      default:
        target: 0.8
        threshold: 0.02

flags:
  python:
    paths:
      - scripts/
      - tests/python/
  golang:
    paths:
      - auth/
  typescript:
    paths:
      - tests/

comment:
  layout: "reach, diff, flags, files"
  behavior: default

fix(rag): replace unavailable Anthropic docs with MCP
  .claude/rag-docs-llm.md
  .github/workflows/archon-rag-ingest.yml
Due: none

feat(rag): add LiteLLM docs to Archon ingest workflow
  .github/workflows/archon-rag-ingest.yml
Due: none

fix(security): resolve medium-severity CodeQL alerts
  conf/webhook-receiver/webhook-receiver.py
  conf/webhook-receiver/webhook_handler.py
  scripts/validate-no-emoji.py
Due: python

chore: add .python-version for tooling consistency
  .python-version
Due: none

fix(deps): update requests to 2.32.4 across all requirements
  conf/webhook-receiver/requirements.txt
  requirements-docs.txt
Due: none

refactor: apply CodeRabbit suggestions
  conf/webhook-receiver/webhook-receiver.py
  scripts/validate-no-emoji.py
Due: python

chore: enhance CodeRabbit configuration with best practices
  .coderabbit.yaml
Due: none

chore(docs): bump mkdocs-include-markdown-plugin to 7.2.0
  requirements-docs.txt
Due: none

chore(docs): bump mkdocs-include-markdown-plugin to 7.2.0 (#144)
  requirements-docs.txt
Due: none

feat(ai): implement unified LiteLLM gateway integration
  .github/actions/resolve-secrets/action.yml
  .github/workflows/docs-ai-check.yml
  .gitignore
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/prometheus/alerts.yml
  scripts/docs/ai_content_validator.py
  scripts/lib/llm_client.py
  scripts/litellm/setup-models.sh
  scripts/tests/test_litellm_gateway.sh
  tests/python/test_llm_client.py
Due: python, typescript

chore: enable cloudflared/nginx on mac
  .gitignore
  compose/gateway.yml
  compose/mac.override.yml
  conf/nginx/includes/block-wordpress-scanners.conf
  conf/nginx/includes/searxng-api-common.conf
  conf/nginx/includes/websocket-common.conf
Due: none

chore: local macOS development setup and security fixes
  .gitignore
  compose/ai.yml
  conf/litellm/config.yaml
  conf/nginx/conf.d/default.conf
  docker-compose.sh
Due: none

chore: quiet cloudflared and enable searxng rate limits
  compose/gateway.yml
  conf/searxng/limiter.toml
Due: none

chore: add local development setup and Archon configuration
  .gitignore
  compose/conf
  compose/scripts
  config/archon-knowledge-sources.yaml
Due: none

chore: add LiteLLM patches for local development
  patches/litellm/litellm_proxy_extras_utils.py
  patches/litellm/prisma_migration.py
  patches/litellm/proxy_server.py
Due: none

fix(ci): exclude compose/conf from mypy to avoid duplicate module error
  mypy.ini
Due: none

feat(ai): implement unified LiteLLM gateway integration (#145)
  .github/actions/resolve-secrets/action.yml
  .github/workflows/docs-ai-check.yml
  .gitignore
  compose/ai.yml
  compose/conf
  compose/gateway.yml
  compose/scripts
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/litellm/config.yaml
  conf/nginx/conf.d/default.conf
  conf/prometheus/alerts.yml
  conf/searxng/limiter.toml
  config/archon-knowledge-sources.yaml
  docker-compose.sh
  mypy.ini
  patches/litellm/litellm_proxy_extras_utils.py
  patches/litellm/prisma_migration.py
  patches/litellm/proxy_server.py
  scripts/docs/ai_content_validator.py
  scripts/lib/llm_client.py
  scripts/litellm/setup-models.sh
  scripts/tests/test_litellm_gateway.sh
  tests/python/test_llm_client.py
Due: python, typescript

fix(ci): exclude compose/scripts from mypy to avoid duplicate module error
  mypy.ini
Due: none

fix(ci): exclude patches directory from mypy type checking
  mypy.ini
Due: none

chore: enable cloudflared/nginx on macOS + LiteLLM gateway (#154)
  .gitignore
  compose/gateway.yml
  compose/mac.override.yml
  conf/nginx/includes/block-wordpress-scanners.conf
  conf/nginx/includes/searxng-api-common.conf
  conf/nginx/includes/websocket-common.conf
  mypy.ini
Due: none

fix: infrastructure improvements from 24h log analysis
  compose.yml
  conf/grafana/provisioning/dashboards/dashboards.yaml
  conf/grafana/provisioning/datasources/datasources.yaml
  conf/nginx/conf.d/default.conf
  conf/nginx/nginx.conf
Due: none

feat: auto-detect OS and load macOS override in docker-compose.sh
  docker-compose.sh
Due: none

Develop (#156)
  .github/workflows/release.yml
  .gitignore
  compose.yml
  compose/conf
  compose/mac.override.yml
  compose/scripts
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/provisioning/dashboards/dashboards.yaml
  conf/grafana/provisioning/datasources/datasources.yaml
  conf/litellm/config.yaml
  conf/nginx/conf.d/default.conf
  conf/nginx/includes/block-wordpress-scanners.conf
  conf/nginx/includes/searxng-api-common.conf
  conf/nginx/includes/websocket-common.conf
  conf/nginx/nginx.conf
  conf/prometheus/alerts.yml
  conf/searxng/limiter.toml
  config/archon-knowledge-sources.yaml
  docker-compose.sh
  mypy.ini
  patches/litellm/litellm_proxy_extras_utils.py
  patches/litellm/prisma_migration.py
  patches/litellm/proxy_server.py
  scripts/lib/llm_client.py
  scripts/litellm/setup-models.sh
  scripts/tests/test_litellm_gateway.sh
  tests/python/test_llm_client.py
Due: python, typescript

fix: LiteLLM database and compose configuration issues
  compose.yml
  compose/ai.yml
  conf/litellm/config.yaml
Due: none

feat: improve docker-compose.sh with strict OS detection and validation
  docker-compose.sh
Due: none

fix: remove hardcoded DATABASE_URL from compose.yml
  compose.yml
Due: none

fix: nginx WebSocket, SSE streaming, and CSP configuration
  compose/ai.yml
  compose/data.yml
  compose/gateway.yml
  compose/mac.override.yml
  compose/monitoring.yml
  conf/nginx/conf.d/default.conf
  conf/nginx/includes/searxng-api-common.conf
  conf/nginx/includes/websocket-common.conf
  docker-compose.sh
Due: none

chore: add OS-specific secrets directories to gitignore
  .gitignore
Due: none

style: fix Prettier formatting in compose/monitoring.yml
  compose/monitoring.yml
Due: none

fix: address CodeRabbit review comments
  .gitignore
  conf/nginx/conf.d/default.conf
  conf/nginx/includes/ws-socket-io-common.conf
Due: none

fix: comprehensive audit - static analysis and linting fixes
  auth/main.go
  conf/webhook-receiver/services.py
  conf/webhook-receiver/webhook-receiver.py
  docker-compose.sh
  patches/litellm/proxy_server.py
  pyproject.toml
  ruff.toml
Due: golang

fix: nginx WebSocket, SSE streaming, and CSP configuration (#157)
  .gitignore
  auth/main.go
  compose.yml
  compose/ai.yml
  compose/data.yml
  compose/gateway.yml
  compose/mac.override.yml
  compose/monitoring.yml
  conf/nginx/conf.d/default.conf
  conf/nginx/includes/searxng-api-common.conf
  conf/nginx/includes/websocket-common.conf
  conf/nginx/includes/ws-socket-io-common.conf
  conf/webhook-receiver/services.py
  conf/webhook-receiver/webhook-receiver.py
  docker-compose.sh
  patches/litellm/proxy_server.py
  pyproject.toml
  ruff.toml
Due: golang

security: container hardening and secrets management audit
  .gitignore
  .secrets.baseline
  compose.yml
  compose/mac.override.yml
  env/mac.example
  tests/setup.ts
Due: typescript

refactor(nginx): extract api-chat config to shared include
  conf/nginx/conf.d/default.conf
  conf/nginx/includes/api-chat-common.conf
Due: none

style: fix Prettier formatting in compose.yml
  compose.yml
Due: none

docs: update service versions to December 2025 release
  docs/en/reference/service-versions.md
  docs/reference/service-versions.md
Due: none

fix: correct doc_version and Prettier formatting in service-versions
  docs/en/reference/service-versions.md
  docs/reference/service-versions.md
Due: none

Develop (#158)
  .gitignore
  .secrets.baseline
  compose.yml
  compose/mac.override.yml
  conf/nginx/conf.d/default.conf
  conf/nginx/includes/api-chat-common.conf
  docs/en/reference/service-versions.md
  docs/reference/service-versions.md
  env/mac.example
  tests/setup.ts
Due: typescript
