Repository DIZ-admin/erni-ki: changes, and which Codecov flags are due for each by the changed paths.
All: python, golang, typescript

refactor(grafana): add datasource variables for portability (#187)
  conf/grafana/dashboards/ai-services/ai-stack-operations.json
  conf/grafana/dashboards/ai-services/litellm-monitoring.json
  conf/grafana/dashboards/infrastructure/core-infrastructure-observability.json
  conf/grafana/dashboards/monitoring-stack/observability-control-plane.json
  conf/grafana/dashboards/security-performance/sla-error-budgets.json
  conf/grafana/dashboards/system-overview/platform-sre-overview.json
Due: none

fix(secrets): make secrets.sh POSIX-compatible for minimal containers
  compose.yml
  scripts/lib/secrets.sh
Due: python

docs: update script paths after reorganization
  docs/en/GLOSSARY.md
  docs/ru/GLOSSARY.md
  docs/ru/operations/core/admin-guide.md
Due: none

chore: repository cleanup
  .gitignore
  coverage-summary.txt
  tests/bun/test-bun-native.ts
  tests/bun/test-bun-runner.test.ts
  tests/bun/test-bun-server.ts
  tsconfig.json
Due: typescript

fix: improve secrets management consistency
  .gitignore
  scripts/security/check-secret-permissions.sh
  scripts/security/fix-secret-permissions.sh
Due: python

fix(lint): exclude tests/bun from ESLint and tsconfig
  .gitignore
  coverage-summary.txt
  eslint.config.js
  tests/bun/test-bun-native.ts
  tests/bun/test-bun-runner.test.ts
  tests/bun/test-bun-server.ts
  tsconfig.json
Due: typescript

ops: adjust grafana secret and fluent-bit timestamps
  compose.yml
  conf/fluent-bit/fluent-bit.conf
  conf/fluent-bit/scripts/timestamp_normalizer.lua
  conf/prometheus/rules/30-ai-services.yml
  secrets/README.md
  secrets/vllm_api_key.txt.example
Due: none

ops: adjust grafana secret and fluent-bit timestamps (#190)
  compose.yml
  conf/fluent-bit/fluent-bit.conf
  conf/fluent-bit/scripts/timestamp_normalizer.lua
  conf/prometheus/rules/30-ai-services.yml
  secrets/README.md
  secrets/vllm_api_key.txt.example
Due: none

fix: expose fluent-bit metrics and doc grafana setup
  conf/fluent-bit/fluent-bit.conf
  conf/prometheus/prometheus.yml
  secrets/README.md
Due: none

docs: fix pre-commit guide anchors
  docs/ru/development/pre-commit-guide.md
Due: none

fix: align fluent-bit metrics + grafana docs (#191)
  compose.yml
  conf/fluent-bit/fluent-bit.conf
  conf/fluent-bit/scripts/timestamp_normalizer.lua
  conf/grafana/dashboards/monitoring-stack/logging-pipeline.json
  conf/prometheus/prometheus.yml
  conf/prometheus/rules/30-ai-services.yml
  docs/ru/development/pre-commit-guide.md
  eslint.config.js
  scripts/security/check-secret-permissions.sh
  scripts/security/fix-secret-permissions.sh
  secrets/README.md
  secrets/vllm_api_key.txt.example
Due: python

ops: fix searxng and webhook entrypoints
  scripts/entrypoints/searxng.sh
  scripts/entrypoints/webhook-receiver.sh
Due: python

chore: address review nits for logging and docs
  compose.yml
  conf/fluent-bit/scripts/timestamp_normalizer.lua
  conf/grafana/dashboards/monitoring-stack/logging-pipeline.json
  eslint.config.js
  secrets/README.md
Due: none

ops: chown grafana paths in deployment
  scripts/core/deployment/deploy-monitoring-system.sh
Due: python

ci: fix grype sarif output path
  .github/workflows/security.yml
Due: none

fix: align grafana secrets and metrics
  compose.yml
  conf/grafana/dashboards/monitoring-stack/logging-pipeline.json
  scripts/security/check-secret-permissions.sh
  secrets/README.md
Due: python

ci: guard grype sarif upload
  .github/workflows/security.yml
Due: none

docs: refresh academy status blocks
  docs/de/index.md
  docs/en/index.md
  docs/ru/index.md
Due: none

ci: optimize GitHub Actions to reduce minutes usage
  .github/actions/setup-bun-env/action.yml
  .github/actions/setup-go-env/action.yml
  .github/actions/setup-python-env/action.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/security.yml
Due: none

chore(infra): increase memory limits for service
  compose.yml
Due: none

chore(deps): update local dependencies
  auth/go.mod
  auth/go.sum
  bun.lock
  package.json
Due: golang

Path conditions:
  python: any of: scripts/, tests/python/
  golang: any of: auth/
  typescript: any of: tests/
