Repository DIZ-admin/erni-ki: changes, and which Codecov flags are due for each by the changed paths.
All: python, golang, typescript

chore: fix docs links and CI lint issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
  docs/academy/ERNI-GRUPPE-IMPLEMENTATION-SUMMARY.md
  docs/academy/by-industry/construction/bautagebuch-erstellen.md
  docs/academy/by-industry/holzbau/angebot-erstellen.md
  docs/academy/by-industry/holzbau/index.md
  docs/de/academy/ERNI-GRUPPE-ADAPTATION.md
  docs/de/academy/by-industry/construction/angebot-erstellen.md
  docs/de/academy/by-industry/index.md
  docs/de/academy/getting-started/was-ist-ki.md
  tests/load/smoke-auth-rag.js
Due: typescript

chore: pin security tools and fix lint config
  .github/workflows/deploy-environments.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  bun.lock
  package.json
  tests/python/test_config_validation.py
Due: python, typescript

chore: make govulncheck non-blocking in security scan
  .github/workflows/security.yml
Due: none

ci: make compose lint resilient to missing env files
  .github/workflows/ci.yml
Due: none

ci: ensure env .env files are templated for compose lint
  .github/workflows/ci.yml
Due: none

docs: add DE placeholders and fix cross-links
  docs/academy/by-industry/construction/bautagebuch-erstellen.md
  docs/academy/by-industry/index.md
  docs/de/academy/by-industry/holzbau/angebot-erstellen.md
  docs/de/academy/by-industry/holzbau/bautagebuch-erstellen.md
  docs/de/academy/by-industry/holzbau/index.md
  docs/de/academy/by-role/developers/code-review-with-ai.md
  docs/de/academy/by-role/developers/debug-code.md
  docs/de/academy/by-role/developers/write-unit-tests.md
  docs/de/academy/by-role/general-users/prepare-presentation.md
  docs/de/academy/by-role/general-users/write-professional-email.md
  docs/de/academy/by-role/managers/analyze-metrics.md
  docs/de/academy/by-role/managers/create-project-report.md
  docs/de/academy/by-role/support/create-knowledge-base-article.md
  docs/de/academy/by-role/support/troubleshoot-user-issue.md
  docs/de/academy/getting-started/first-steps.md
  docs/de/academy/getting-started/model-comparison.md
  docs/de/academy/getting-started/safety-and-ethics.md
Due: none

docs: fix redirect path for industry index
  docs/academy/by-industry/index.md
Due: none

ci: neutralize nginx default.conf during config test
  .github/workflows/ci.yml
Due: none

ci: harden promtool invocation in observability checks
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

ci: run promtool via shell entrypoint to avoid CLI parsing issues
  .github/workflows/ci.yml
Due: none

ci: use promtail dry-run flag for config check
  .github/workflows/ci.yml
Due: none

ci/docs: tighten observability checks and redirect metadata
  .github/workflows/ci.yml
  docs/academy/by-industry/index.md
Due: none

ci: cache Playwright browsers before install
  .github/workflows/ci.yml
Due: none

ci/pre-commit: align prettier, fast profile, and enforce contract/load secrets
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit/config-fast.yaml
Due: none

chore: run pre-commit across repo
  .github/dependabot.yml
  .github/settings.yml
  .github/workflows/deploy-environments.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/update-status.yml
  .pre-commit/config-docs.yaml
  .pre-commit/config-full.yaml
  .pre-commit/config-security.yaml
  conf/postgres-exporter/queries.yaml
  docs/api/auth-service-openapi.yaml
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
  docs/archive/diagnostics/full-server-diagnostics-2025-11-04.md
  docs/data/README.md
  docs/data/index.md
  docs/de/reference/mcpo-integration-guide.md
  docs/development/testing-guide.md
  docs/en/examples/api-usage-rest.md
  docs/en/reference/api-reference.md
  docs/en/reference/documentation-maintenance-strategy.md
  docs/en/reference/mcpo-integration-guide.md
  docs/en/reference/webhook-api.md
  docs/examples/api-usage-rest.md
  docs/examples/docker-compose-override.yml
  docs/examples/litellm-config.yaml
  docs/reference/api-reference.md
  docs/reference/documentation-maintenance-strategy.md
  docs/reference/status.yml
  docs/reference/webhook-api.md
  ops/alertmanager/blackbox-noise-route.yml
  ops/prometheus/blackbox-noise.rules.yml
Due: none

docs: auto-update status snippets
  README.md
Due: none

ci/tests: improve fast profile, k6 artifacts, and env checks
  .github/workflows/ci.yml
  .pre-commit/config-fast.yaml
  docs/development/pre-commit-guide.md
  tests/load/smoke-auth-rag.js
Due: typescript

ci: add toolchain matrices, k6 artifacts, and doc updates
  .github/workflows/ci.yml
  .github/workflows/security.yml
  docs/development/testing-guide.md
  tests/README.md
Due: typescript

ci/docs: matrices, strict govulncheck, and CI secrets guidance
  CONTRIBUTING.md
Due: none

ci/security: fix Go matrix version and bump govulncheck
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

ci: fix Go matrix version and format docs
  .github/workflows/ci.yml
  docs/development/pre-commit-guide.md
  docs/development/testing-guide.md
  tests/README.md
Due: typescript

ci: exclude litellm docs from lychee link check
  .github/workflows/ci.yml
Due: none

ci: drop Go matrix to match go.mod requirement
  .github/workflows/ci.yml
Due: none

chore: align prettier version in script and reformat docs
  docs/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-2025-11-24.md
  docs/de/archive/migrations/documentation-refactoring-plans/documentation-refactoring-plan-2025-11-24.md
  docs/en/reference/service-versions.md
  docs/reference/service-versions.md
  scripts/prettier-run.sh
Due: python

ci: relax mkdocs strict build in nightly-audit
  .github/workflows/nightly-audit.yml
Due: none

chore: pin prettier version
  scripts/prettier-run.sh
Due: python

chore: format with prettier 3.6.2
  .github/dependabot.yml
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-environments.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/update-status.yml
  .pre-commit/config-docs.yaml
  .pre-commit/config-fast.yaml
  .pre-commit/config-full.yaml
  .pre-commit/config-security.yaml
  conf/postgres-exporter/queries.yaml
  docs/api/auth-service-openapi.yaml
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
  docs/archive/diagnostics/full-server-diagnostics-2025-11-04.md
  docs/de/reference/mcpo-integration-guide.md
  docs/development/testing-guide.md
  docs/en/examples/api-usage-rest.md
  docs/en/reference/api-reference.md
  docs/en/reference/documentation-maintenance-strategy.md
  docs/en/reference/mcpo-integration-guide.md
  docs/en/reference/webhook-api.md
  docs/examples/api-usage-rest.md
  docs/examples/docker-compose-override.yml
  docs/examples/litellm-config.yaml
  docs/reference/api-reference.md
  docs/reference/documentation-maintenance-strategy.md
  docs/reference/status.yml
  docs/reference/webhook-api.md
  ops/alertmanager/blackbox-noise-route.yml
  ops/prometheus/blackbox-noise.rules.yml
Due: none

ci: avoid artifact conflicts and cache warnings
  .github/workflows/ci.yml
Due: none

ci: make artifacts overwrite-safe and ignore commitlint 403
  .github/workflows/ci.yml
  .lychee.toml
Due: none

ci: make promtail check fast and bounded
  .github/workflows/ci.yml
Due: none

ci: stop promtail positions write errors
  .github/workflows/ci.yml
Due: none

refactor: phase 1 audit fixes - CI timeouts, auth tests, dependencies
  .github/workflows/deploy-environments.yml
  .github/workflows/security.yml
  .github/workflows/update-status.yml
  auth/main_test.go
  bun.lock
  package.json
  tests/package-lock.json
  tests/package.json
Due: golang, typescript

refactor: phase 2.1 - modularize docker compose into layered architecture
  README.md
  compose/README.md
  compose/ai.yml
  compose/base.yml
  compose/data.yml
  compose/gateway.yml
  compose/monitoring.yml
  docker-compose.sh
  docs/archive/refactoring/phase-2.1-modular-compose-summary.md
Due: none

feat: phase 2.2 progress - add pytest infrastructure and tests
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  tests/python/test_remove_all_emoji.py
Due: python, typescript

chore: fix prettier formatting and golangci-lint issues
  auth/main_test.go
  compose/README.md
  docs/archive/refactoring/phase-2.1-modular-compose-summary.md
Due: golang

security: fix critical CodeQL alerts and update vulnerable dependencies
  conf/webhook-receiver/requirements.txt
  conf/webhook-receiver/webhook_handler.py
  docs/archive/security/security-fixes-2025-12-06.md
  tests/python/test_config_validation.py
  tests/python/test_webhook_handler.py
Due: python, typescript

feat: add Python pytest infrastructure and TODO management tools
  .github/dependabot.yml
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/release.yml
  .pre-commit/config-docs.yaml
  .pre-commit/config-fast.yaml
  .pre-commit/config-full.yaml
  .pre-commit/config-security.yaml
  README.md
  conf/postgres-exporter/queries.yaml
  docs/api/auth-service-openapi.yaml
  docs/archive/audits/comprehensive-investor-audit-2025-12-03.md
  docs/archive/diagnostics/full-server-diagnostics-2025-11-04.md
  docs/de/reference/mcpo-integration-guide.md
  docs/development/testing-guide.md
  docs/en/examples/api-usage-rest.md
  docs/en/reference/api-reference.md
  docs/en/reference/documentation-maintenance-strategy.md
  docs/en/reference/mcpo-integration-guide.md
  docs/en/reference/webhook-api.md
  docs/examples/api-usage-rest.md
  docs/examples/docker-compose-override.yml
  docs/examples/litellm-config.yaml
  docs/reference/api-reference.md
  docs/reference/documentation-maintenance-strategy.md
  docs/reference/status.yml
  docs/reference/webhook-api.md
  docs/reports/todo-analysis.md
  docs/reports/todo-conversion-plan.md
  ops/alertmanager/blackbox-noise-route.yml
  ops/prometheus/blackbox-noise.rules.yml
  pyproject.toml
  scripts/maintenance/extract_todos.py
  tests/python/README.md
  tests/python/conftest.py
  tests/python/test_validate_networks.py
  tests/python/test_validate_no_emoji.py
Due: python, typescript

style: fix prettier formatting issues
  docs/archive/security/security-fixes-2025-12-06.md
  docs/reports/todo-conversion-plan.md
  tests/python/README.md
Due: python, typescript

fix: correct JSON syntax in documentation examples
  docs/en/reference/documentation-maintenance-strategy.md
  docs/reference/documentation-maintenance-strategy.md
Due: none

fix: apply prettier formatting and fix broken OWASP link
  docs/archive/security/security-fixes-2025-12-06.md
Due: none

Path conditions:
  python: any of: scripts/, tests/python/
  golang: any of: auth/
  typescript: any of: tests/
